description = "Solutions-About splendid solutions"

[viewBag]
==
{% put styles %}
    <link rel="stylesheet" href="{{ 'assets/css/solutions-about.css'|theme }}">
{% endput %}
<section id="about">
    <div class="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6">
                    <div class="title">
                        about<br>
                        splendid solutions
                    </div>
                </div>
                <div class="col-xl-6">

                </div>
            </div>
        </div>
    </div>
</section>
