description = "Solutions-About splendid solutions"

[viewBag]
==
{% put styles %}
    <link rel="stylesheet" href="{{ 'assets/css/solutions-about.css'|theme }}">
{% endput %}
<section id="about">
    <div class="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-5">
                    <div class="title-block text-uppercase">
                        <div class="title">about</div>
                        <div class="sub-title">splendid<br>group</div>
                    </div>
                    <div class="content-block content-scroll">
                        <div class="content">
                            <p>Splendid Solutions’ driven approach aims to improve the quality and consistency of what is offered to today’s traveler. We offer a wide range of services, from appealing, custom made products to end to end warehouse and logistics solutions.</p>
                            <p>We have established the solution for ‘People on the Move’, which includes product development, design, manufacturing, sourcing, packaging and delivery to the end user. Our employees are passionate with a keen awareness of current culinary high street trends and will work with you to understand better what your customer wants.  With our proactive approach of new trends in combination with your needs we can make anything possible.</p>
                            <p>So whether you need a salad in a box, hot snack, full meal service or a bespoke door to door service solution, you can depend on Splendid Solutions for an efficient, cost-conscious and partner-focused collaboration.</p>
                            <p>If you are looking for a total solution you have found the right partner!</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7">

                </div>
            </div>
        </div>
    </div>
</section>
