description = "Solutions-Contact Us"

[viewBag]
==

{% put styles %}
    <link href="{{ 'assets/css/solutions-contactus.css'|theme }}" rel="stylesheet">
{% endput %}
<section class="scroll-section" id="contact-us" data-section-name="contact-us">
    <div class="side-slider">
        <img class="hex-main slide-top" id="slide-hk" data-display="hk-office" src=" {{ 'contactus/hk-office.png'|media }} " alt="" img-display="1" />
        <img class="hex-main slide-main" id="slide-hk-head" data-display="hk-head-office" src=" {{ 'contactus/hk-head-office.png'|media }} " alt="" img-display="1" />
        <img class="hex-main slide-bottom" id="slide-ams" data-display="ams-office" src=" {{ 'contactus/ams-office.png'|media }} " alt="" img-display="1" />
        <img class="hex-main slide-hide" id="slide-toronto" data-display="toronto-office" src=" {{ 'contactus/toronto-office.png'|media }} " alt="" img-display="0"/>
        <img class="hex-main slide-hide" id="slide-sh" data-display="shanghai-office" src=" {{ 'contactus/sh-office.png'|media }} " alt="" img-display="0" />
    </div>
    <div class="contact-us">
        <div class="container-fluid contact-us-container">
            <div class="row">
                <div class="contact-us-bg"></div>
                <!-- Address img Slider -->
                <div class="col-xl-3 col-md-3">
                </div>
                <!-- Address Detail -->
                <div class="col-xl-4 col-md-4 address">
                    <div class="address-detail" id="hk-head-office" contact-index="1">
                        <div class="office-title text-uppercase">
                            <p>Hong Kong Head Office</p>
                        </div>
                        <div class="content office-address">
                            <p>Suite 1001, 10th floor, Connaught Commercial Building,<br>
                            185 Wanchai road,<br>
                            Wanchai, Hong Kong</p>
                        </div>
                        <div class="content office-contact">
                            <p>Tel: +852 2555 6573<br>
                            Email: sales@splendid.group</p>
                        </div>
                    </div>
                    <div class="address-detail d-none" id="hk-office" contact-index="2">
                        <div class="office-title text-uppercase">
                            <p>Hong Kong Office</p>
                        </div>
                        <div class="content office-address">
                            <p>Suite 2402-03, 24th floor, Connaught Commercial Building,<br>
                            185 Wanchai road,<br>
                            Wanchai, Hong Kong</p>
                        </div>
                        <div class="content office-contact">
                            <p>Tel: +852 2555 6573<br>
                            Email: sales@splendid.group</p>
                        </div>
                    </div>
                    <div class="address-detail d-none" id="ams-office" contact-index="3">
                        <div class="office-title text-uppercase">
                            <p>Amsterdam office</p>
                        </div>
                        <div class="content office-address">
                            <p>Herengracht 450, 1017 CA, Amsterdam</p>
                        </div>
                        <div class="content office-contact">
                            <p>Tel: +31 6 46 75 50 47<br>
                            Email: sales@splendid.group</p>
                        </div>
                    </div>
                    <div class="address-detail d-none" id="toronto-office" contact-index="4">
                        <div class="office-title text-uppercase">
                            <p>Toronto Office</p>
                        </div>
                        <div class="content office-address">
                            <p>2425 Matheson Boulevard East,<br>
                            Suite 800, Mississauga Ontario,<br>
                             L4W 5K4, Canada</p>
                        </div>
                        <div class="content office-contact">
                            <p>Tel: +14162620672<br>
                            Email: sales@splendid.group</p>
                        </div>
                    </div>
                    <div class="address-detail d-none" id="shanghai-office" contact-index="5">
                        <div class="office-title text-uppercase">
                            <p>Shanghai Office</p>
                        </div>
                        <div class="content office-address">
                            <p>Pilot Free Trade Zone, Room 1331, 13th Floor<br>
                             55 Xili Road, Shanghai,<br>
                             China</p>
                        </div>
                        <div class="content office-contact">
                            <p>Tel: +852 2555 6573<br>
                            Email: sales@splendid.group</p>
                        </div>
                    </div>
                    <div class="control-btn">
                        <img id="up-btn" action="prev" src="{{ 'solutions/up_arrow.png'|media }}" alt="">
                        <img id="down-btn" action="next" src="{{ 'solutions/down_arrow.png'|media }}" alt="">
                    </div>
                </div>
                <!-- Contact us content -->
                <div class="contact-us-block col-xl-5 col-md-5 text-right">
                    <div class="contact-us-content">
                        <div class="title text-uppercase">
                            <p>Contact Us</p>
                        </div>
                        <div class="content">
                            Headquartered in Hong Kong, we have offices in China, Canada and The Netherlands. We are active in more than 20 countries around the world.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
