description = "Solutions-Contact Us"

[viewBag]
==

{% put styles %}
    <link href="{{ 'assets/css/solutions-contactus.css'|theme }}" rel="stylesheet">
{% endput %}
<section class="scroll-section" id="contact-us" data-section-name="contact-us">
    <div class="side-slider">
        {% for record in office_list %}
                <img class="hex-main slide-{{record.image_position}}" id="slide-{{record.office_prefix}}" data-display="{{record.office_prefix}}-office" src="{{ record.office_image|media }}" alt="" index="{{loop.index}}" />
        {% endfor %}
    </div>
    <div class="contact-us">
        <div class="container-fluid contact-us-container">
            <div class="row">
                <div class="contact-us-bg"></div>
                <!-- Address img Slider -->
                <div class="col-xl-3 col-md-3">
                </div>
                <!-- Address Detail -->
                <div class="col-xl-4 col-md-4 address">
                    {% for record in office_list %}
                        <div class="address-detail {% if loop.index != 1 %}d-none{% endif %}" id="{{record.office_prefix}}-office" contact-index="{{loop.index}}">
                            <div class="office-title text-uppercase">
                                <p>{{record.office_name}}</p>
                            </div>
                            <div class="content office-address">
                                <p>{{record.office_address}}</p>
                            </div>
                            <div class="content office-contact">
                                <p>Tel: {{record.office_tel}}<br>
                                Email: {{record.contact_email}}</p>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="control-btn">
                        <img id="up-btn" action="prev" src="{{ 'solutions/up_arrow.png'|media }}" alt="">
                        <img id="down-btn" action="next" src="{{ 'solutions/down_arrow.png'|media }}" alt="">
                    </div>
                </div>
                <!-- Contact us content -->
                <div class="contact-us-block col-xl-5 col-md-5 text-right">
                    <div class="contact-us-content">
                        <div class="title text-uppercase">
                            <p>Contact Us</p>
                        </div>
                        <div class="content">
                            Headquartered in Hong Kong, we have offices in China, Canada and The Netherlands. We are active in more than 20 countries around the world.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
