description = "Solutions-Footer"

[viewBag]
==
{% put styles %}
    <link rel="stylesheet" href="{{ 'assets/css/solutions-footer.css'|theme }}">
{% endput %}
<footer class="footer-container scroll-section">
    <div class="footer-mask" id="bottom-mask"></div>
    <div class="footer-mask" id="top-mask"></div>
    <div class="footer-content-block">
        <div class="container-fluid page-block">
            <div class="row">
                <div class="col-xl-6 col-md-6"></div>
                <div class="col-xl-6 col-md-6">
                    <div class="page-content">
                        <ul class="page">
                            <li><a href="{{ url('/solutions') }}#about" onclick="jump_to('about'); return false;">About splendid</a></li>
                            <li><a href="{{ url('/solutions') }}#sustainability" onclick="jump_to('sustainability'); return false;">Sustainability</a></li>
                            <li><a href="{{ url('/solutions') }}#how-we-work" onclick="jump_to('how-we-work'); return false;">How we work</a></li>
                            <li><a href="{{ url('/solutions') }}#news" onclick="jump_to('news'); return false;">News</a></li>
                            <li><a href="{{ url('/solutions') }}#our-servise" onclick="jump_to('our-servise'); return false;">Our services</a></li>
                            <li><a href="{{ url('/solutions') }}#contact-us" onclick="jump_to('contact-us'); return false;">Contact us</a></li>
                            <li><a href="{{ url('/solutions') }}#quality-and-safety" onclick="jump_to('quality-and-safety'); return false;">Quality & Safety</a></li>
                        </ul>
                        <!-- <ul class="follow-us">
                            <li>Follow us on</li>
                            <li><img src="{{ 'icon/facebook.png'|media }}"></li>
                            <li><img src="{{ 'icon/twitter.png'|media }}"></li>
                            <li><img src="{{ 'icon/instagram.png'|media }}"></li>
                            <li><img src="{{ 'icon/pinterest.png'|media }}"></li>
                            <li><img src="{{ 'icon/linkedin.png'|media }}"></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-tnc">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8">&copy;2018 Splendid Solution ltd. All Rights Reserved</div>
                    <div class="col-xl-2"><a href="{{ 'solutions/privacy_policy.pdf'|media }}" target="_blank">Privacy Policy</a></div>
                    <div class="col-xl-2"><a href="{{ 'solutions/splendid_group_general_terms_conditions.pdf'|media }}" target="_blank">Terms of Use</div>
                </div>
            </div>
        </div>
    </div>
</footer>
