description = "Solutions-Header"

[viewBag]
==
{% if this.environment == 'production' %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126213464-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-126213464-2');
</script>
{% endif %}

<nav class="navbar font-lato text-uppercase">
    <a href="{{ url('/solutions') }}#home" onclick="jump_to('home'); return false;"><img class="logo" src="{{ 'solutions/logo.png'|media }}" alt=""></a>
    <ul class="nav-left-menu ml-auto">
        {% content 'solutions/navbar.htm' %}
    </ul>
</nav>

<div class="menu-btn">
    <div class="menu-icon js-menu-icon">
        <div class="menu-line menu-line-top"></div>
        <div class="menu-line menu-line-middle"></div>
        <div class="menu-line menu-line-bottom"></div>
    </div>
    <span class="menu-text js-menu-text">menu</span>
</div>
<div class="language-selector">
        <!-- <a href="{{url('/en/solutions')}}" data-lanselector="en" data-request="onSwitchLocale" data-request-data="locale: 'en'">ENG</a> / <a href="{{url('/fr/solutions')}}" data-lanselector="fr" data-request="onSwitchLocale" data-request-data="locale: 'fr'">FRENCH</a> -->
        {% component 'localePicker' %}
</div>

