description = "Solutions-Header"

[viewBag]
==
<nav class="navbar font-lato text-uppercase">
    <ul class="nav-left-menu">
        <li>about</li>
        <li>how we work</li>
    </ul>
    <ul class="nav-right-menu">
        <li>service</li>
        <li>news</li>
        <li>contact</li>
    </ul>
</nav>

<div class="menu-btn">
    <div class="menu-icon js-menu-icon">
        <div class="menu-line menu-line-top"></div>
        <div class="menu-line menu-line-middle"></div>
        <div class="menu-line menu-line-bottom"></div>
    </div>
    <span class="menu-text js-menu-text">menu</span>
</div>
