description = "Solutions-How we work"

[viewBag]
==

{% put styles %}
    <link rel="stylesheet" href="{{ 'assets/css/solutions-how-we-work.css'|theme }}">
{% endput %}
{% if lan != 'en' %}
    {% put styles %}
        <link rel="stylesheet" href="../themes/productions/assets/css/solutions-how-we-work-{{lan}}.css">
    {% endput %}
{% endif%}
<section class="scroll-section" id="how-we-work" data-section-name="how-we-work">
    <div class="how-we-work">
        <div class="how-we-work-bg"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="content-container">
                        {% content 'solutions/how-we-work.htm' %}
                    </div>
                </div>
            </div>
            <div class="description-container">
                <div class="description-block" id="come-together"></div>
                <div class="description-block" id="we-design"></div>
                <div class="description-block" id="we-produce"></div>
                <div class="description-block" id="we-deliver"></div>
            </div>
            <div class="description-slick">
                <div class="desc-slick-img"><img src="{{'solutions/hww_slick_desc1.png'|media}}"/></div>
                <div class="desc-slick-img"><img src="{{'solutions/hww_slick_desc2.png'|media}}"/></div>
                <div class="desc-slick-img"><img src="{{'solutions/hww_slick_desc3.png'|media}}"/></div>
                <div class="desc-slick-img"><img src="{{'solutions/hww_slick_desc4.png'|media}}"/></div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">

</script>
