description = "Solutions-menu"

[viewBag]
==
{% put styles %}
    <!-- <link href="{{ 'assets/css/common-bubble-menu.css'|theme }}" rel="stylesheet"> -->
    <link href="{{ 'assets/css/common-side-menu.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/solutions-menu.css'|theme }}" rel="stylesheet">
{% endput %}

<!--div class="bubble-menu font-lato">
    <div class="opt active home-opt" id=""><label>Home</label><div class="bullet" id=""></div></div>
    <div class="opt about-opt" id=""><label>About</label><div class="bullet" id=""></div></div>
    <div class="opt how-we-work-opt" id=""><label>How we work</label><div class="bullet" id=""></div></div>
    <div class="opt our-servise-opt" id=""><label>Our servise</label><div class="bullet" id=""></div></div>
    <div class="opt sustainability-opt" id=""><label>Sustainability</label><div class="bullet" id=""></div></div>
    <div class="opt news-opt" id=""><label>News</label><div class="bullet"  id=""></div></div>
    <div class="opt contact-us-opt" id=""><label>Contact Us</label><div class="bullet" id=""></div></div>
</div-->
<div class="side-wrapper">
    <ul>
        {% content 'solutions/sidemenu.htm' %}
    </ul>
</div>
