description = "Solutions-News"

[viewBag]
==
{% put styles %}
    <link href="{{ 'assets/css/solutions-news.css'|theme }}" rel="stylesheet">
{% endput %}
<section class="scroll-section" id="news" data-section-name="news">
    <div class="news">
        <div class="container-fluid">
            <div class="news-bg"></div>
            <div class="row">
                <div class="col-xl-3 col-md-3">
                    <div class="news-description">
                        <div class="title-block">
                            <div class="title text-uppercase">
                                <p>News</p>
                            </div>
                        </div>
                        <div class="content-block">
                            <div class="content">
                                <p>{{'Please look at the latested products, partnerships and company updates!'|_}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9">
                    <section id="news-block">
                        <!-- News about Products/Marketing -->
                        <div class="news-grid" id="news-product">
                            <news-item v-bind:item="news" v-for="news in newsList" v-bind:key="news.id"></news-item>
                        </div>
                        <!-- pagination for Products/Marketing News -->
                        {% if product_news.lastPage > 1 %}
                            <ul class="pagination" data-type="product">
                                {% for i in 1..product_news.lastPage %}
                                    <li class="page-no" data-index="{{i}}">{{i}}</li>
                                    {% if i != product_news.lastPage %}
                                        <span>|</span>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <!-- News about Company -->
                        <div class="news-grid" id="news-company">
                            <news-item v-bind:item="news" v-for="news in newsList" v-bind:key="news.id"></news-item>
                        </div>
                        {% if company_news.lastPage > 1 %}
                            <ul class="pagination" data-type="company">
                                {% for i in 1..company_news.lastPage %}
                                    <li class="page-no" data-index="{{i}}">{{i}}</li>
                                    {% if i != company_news.lastPage %}
                                        <span>|</span>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
