description = "Solutions-News"

[viewBag]
==
{% put styles %}
    <link href="{{ 'assets/css/solutions-news.css'|theme }}" rel="stylesheet">
{% endput %}
<section class="scroll-section" id="news" data-section-name="news">
    <div class="news">
        <div class="container-fluid">
            <div class="news-bg"></div>
            <div class="row">
                <div class="col-xl-3 col-md-3">
                    <div class="news-description">
                        <div class="title-block">
                            <div class="title text-uppercase">
                                <p>News</p>
                            </div>
                        </div>
                        <div class="content-block">
                            <div class="content">
                                <p>Please look at the latested products, partnerships and company updates!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9">
                    <section id="news-block">
                        <!-- News about Products/Marketing -->
                        <div id="app">
                            {{ message }}
                        </div>
                        <div class="news-grid" type="product">
                            <!-- <span>{{product_news.lastPage}}</span> -->
                            {% for record in product_news %}
                            <div class="news-item" news-type="product" style="background-image: url({{record.news_image_thumbnail|media}})" index="{{record.id}}">
                                <div class="news-desc-block">
                                    <p class="news-title text-uppercase">{{ record.title }}</p>
                                    <p class="news-desc">{{ record.description }}</p>
                                </div>
                                <div class="news-desc-block-hover">
                                    <p class="news-title text-uppercase">{{ record.title }}</p>
                                    <p class="news-desc">{{ record.description }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% if product_news.lastPage > 1 %}
                            <ul class="pagination" data-type="product">
                                {% for i in 1..product_news.lastPage %}
                                    <li class="page-no" data-index="{{i}}">{{i}}</li>
                                    {% if i != product_news.lastPage %}
                                        <span>|</span>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <!-- News about Company -->
                        <div class="news-grid" type="company">
                            {% for record in company_news %}
                            <div class="news-item" news-type="company" style="background-image: url({{record.news_image_thumbnail|media}})" index="{{record.id}}">
                                <div class="news-desc-block">
                                    <p class="news-title text-uppercase">{{ record.title }}</p>
                                    <p class="news-desc">{{ record.description }}</p>
                                </div>
                                <div class="news-desc-block-hover">
                                    <p class="news-title text-uppercase">{{ record.title }}</p>
                                    <p class="news-desc">{{ record.description }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
