description = "Solutions-News"

[viewBag]
==
{% put styles %}
    <link href="{{ 'assets/css/solutions-news.css'|theme }}" rel="stylesheet">
{% endput %}
<section id="news">
    <div class="news">
        <div class="container-fluid">
            <div class="news-bg"></div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="news-description">
                        <div class="title-block">
                            <div class="title text-uppercase">
                                <p>News</p>
                            </div>
                        </div>
                        <div class="content-block">
                            <div class="content">
                                <p>We recognize that the way in which we operate has an impact on the environment and are committed to integrating sustainability best practices into our decision-making and business activities worldwide. We invest in new production techniques and materials to offer clients a better sustainable alternative to what is currently available in the marketplace. Our strategy is comprised of the following 3 pillars.</p>
                                <p>We recognize that the way in which we operate has an impact on the environment and are committed to integrating sustainability best practices into our decision-making and business activities worldwide. We invest in new production techniques and materials to offer clients a better sustainable alternative to what is currently available in the marketplace. Our strategy is comprised of the following 3 pillars.</p>
                                <p>We recognize that the way in which we operate has an impact on the environment and are committed to integrating sustainability best practices into our decision-making and business activities worldwide. We invest in new production techniques and materials to offer clients a better sustainable alternative to what is currently available in the marketplace. Our strategy is comprised of the following 3 pillars.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="news-block">
    <div class="news-grid">
        {% for record in news %}
        <!-- <div class="news-item" style="background-image: url({{'solutions/slide-1.jpg'|media}})"> -->
        <div class="news-item" style="background-image: url({{record.news_image|media}})">
            <div class="news-desc-block">
                <p class="news-title text-uppercase">{{ record.title }}</p>
                <p class="news-desc">Description Description Description Description </p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
