description = "Solutions-Our servise"

[viewBag]
==

{% put styles %}
    <link rel="stylesheet" href="{{ 'assets/css/solutions-our-servise.css'|theme }}">
{% endput %}
{% if lan != 'en' %}
    {% put styles %}
        <link rel="stylesheet" href="../themes/productions/assets/css/solutions-our-servise-{{lan}}.css">
    {% endput %}
{% endif%}

<section class="scroll-section" id="our-servise" data-section-name="our-servise">
    <div class="our-servise">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="content-container">
                        <div class="title-block text-uppercase">
                            <div class="title">{{'Our Services'|_}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="servise-block">
    <div class="servise-block">
        <div class="food-and-beverage">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="content-container block">
                            {% content 'solutions/our-servise-fb.htm' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="material-img js-parallax" id="cocoa-material" data-speed="0.2"><img src="{{ 'solutions/cocoa_1024.png'|media }}"></div>
        <div class="marketing-brand scroll-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="content-container block">
                            {% content 'solutions/our-servise-mb.htm' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="material-img js-parallax" id="alain-material" data-speed="0.2"><img src="{{ 'solutions/alain_chocolate_1.png'|media }}"></div>
        <div class="material-img js-parallax" id="alain-material-1" data-speed="0.2"><img src="{{ 'solutions/alain_chocolate_2.png'|media }}"></div>
        <div class="packaging-solutions scroll-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="content-container block">
                            {% content 'solutions/our-servise-ps.htm' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="material-img js-parallax" id="alain-packaging-material" data-speed="0.2"><img src="{{ 'solutions/alain_chocolate_packaging_1.png'|media }}"></div>
        <div class="material-img js-parallax" id="alain-packaging-material-1" data-speed="0.2"><img src="{{ 'solutions/alain_chocolate_packaging_2.png'|media }}"></div>
        <div class="warehouse-logistics scroll-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="content-container block">
                            {% content 'solutions/our-servise-wl.htm' %}
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        <div class="floating-container">
            <!-- Start of Beans -->
            <div class="floating-obj js-parallax" id="bean-1" data-speed="0.5"><img src="{{ 'solutions/bean1.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="bean-2" data-speed="0.8"><img src="{{ 'solutions/bean3.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="bean-3" data-speed="0.8"><img src="{{ 'solutions/bean3.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="bean-4" data-speed="0.8"><img src="{{ 'solutions/bean2.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="bean-5" data-speed="0.8"><img src="{{ 'solutions/bean1.png'|media }}"/></div>
            <!-- End of Beans -->
            <!-- Start of chips -->
            <div class="floating-obj js-parallax" id="chip-1" data-speed="1"><img src="{{ 'solutions/chips1.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="chip-2" data-speed="1"><img src="{{ 'solutions/chips3.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="chip-3" data-speed="1"><img src="{{ 'solutions/chips4.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="chip-4" data-speed="1"><img src="{{ 'solutions/chips2.png'|media }}"/></div>
            <!-- End of chips -->
            <!-- Start of caramel -->
            <div class="floating-obj js-parallax" id="caramel-1" data-speed="1"><img src="{{ 'solutions/caramel.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="caramel-2" data-speed="1"><img src="{{ 'solutions/caramel.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="caramel-3" data-speed="1"><img src="{{ 'solutions/caramel_flip.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="caramel-4" data-speed="1"><img src="{{ 'solutions/caramel.png'|media }}"/></div>
            <!-- End of caramel -->
            <!-- Start of salts -->
            <div class="floating-obj js-parallax" id="salt-1" data-speed="0.5"><img src="{{ 'solutions/salt2.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="salt-2" data-speed="0.5"><img src="{{ 'solutions/salt1.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="salt-3" data-speed="0.5"><img src="{{ 'solutions/salt3.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="salt-4" data-speed="0.5"><img src="{{ 'solutions/salt3.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="salt-5" data-speed="0.5"><img src="{{ 'solutions/salt1.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="salt-6" data-speed="0.5"><img src="{{ 'solutions/salt2.png'|media }}"/></div>
            <!-- End of salts -->
            <!-- Start of rose -->
            <div class="floating-obj js-parallax" id="rose-1" data-speed="0.1"><img src="{{ 'solutions/rose2.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="rose-2" data-speed="0.1"><img src="{{ 'solutions/rose1.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="rose-3" data-speed="0.1"><img src="{{ 'solutions/rose3.png'|media }}"/></div>
            <!-- End of rose -->
        </div>
    </div>
</section>
