description = "Solutions-Our servise"

[viewBag]
==

{% put styles %}
    <link rel="stylesheet" href="{{ 'assets/css/solutions-our-servise.css'|theme }}">
{% endput %}

<section id="our-servise">
    <div class="our-servise">
        <div class="our-servise-bg"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="content-container">
                        <div class="title-block text-uppercase">
                            <div class="title">Our<br>Servise</div>
                        </div>
                        <div class="content-block content-scroll">
                            <div class="content">
                                <p>Splendid Solutions works closely with their customers to meet their individual needs. With our in-house design studio, our own packaging production facility and a global supplier portfolio we have the ability to innovate, create, source and manufacture most of our customer’s products under the Splendid Solutions ‘roof’. Of course quality and industry standards are important in this process so with our own and 3rd party quality control checks we guarantee the highest standards. With our warehouse & logistics network we are able to deliver your products to every required delivery point in the world.</p>
                                <p>Splendid Solutions works closely with their customers to meet their individual needs. With our in-house design studio, our own packaging production facility and a global supplier portfolio we have the ability to innovate, create, source and manufacture most of our customer’s products under the Splendid Solutions ‘roof’. Of course quality and industry standards are important in this process so with our own and 3rd party quality control checks we guarantee the highest standards. With our warehouse & logistics network we are able to deliver your products to every required delivery point in the world.</p>
                                <p>Splendid Solutions works closely with their customers to meet their individual needs. With our in-house design studio, our own packaging production facility and a global supplier portfolio we have the ability to innovate, create, source and manufacture most of our customer’s products under the Splendid Solutions ‘roof’. Of course quality and industry standards are important in this process so with our own and 3rd party quality control checks we guarantee the highest standards. With our warehouse & logistics network we are able to deliver your products to every required delivery point in the world.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="servise-block">
    <div class="servise-block">
        <div class="food-and-beverage">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="content-container block">
                            <div class="title-block text-uppercase">
                                <div class="title">food &<br>beverage<br>concepts</div>
                            </div>
                            <div class="content-block">
                                <div class="content">
                                    <p>Our tailor-made food & beverage solutions combine packaging, innovative food, brand partnerships and menu options. You will have access to a worldwide team of experts with impressive culinary development, procurement and retail skills.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="material-img"><img src="{{ 'solutions/cocoa_1024.png'|media }}"></div>
        <div class="marketing-brand">
            <div class="content-container block">
                <div class="title-block text-uppercase">
                    <div class="title">marketing &<br>brand<br>activation</div>
                </div>
                <div class="content-block">
                    <div class="content">
                        <p>Through our global network with major brands we are able to connect you to the right partners, giving your products the extra touch to amaze your customers. We are the bridge between the brand partner and the consumer which will bring your service to the next level. From promotional products to complete marketing & brand activation campaigns; we can make it happen!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="material-img"><img src="{{ 'solutions/alain_chocolate.png'|media }}"></div>
        <div class="packaging-solutions">
            <div class="content-container block">
                <div class="title-block text-uppercase">
                    <div class="title">packaging<br>solutions</div>
                </div>
                <div class="content-block">
                    <div class="content">
                        <p>We bring extensive know-how to the arena of packaging to ensure your product cannot only be delivered correctly to the end client but to also ensure it can be handled efficiently during the sometimes very complex supply chain. With our in-house packaging factory & design studio we create speed to market but more importantly operate very cost effective.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="material-img"><img src="{{ 'solutions/alain_chocolate_packaging.png'|media }}"></div>
        <div class="warehouse-logistics">
            <div class="content-container block">
                <div class="title-block text-uppercase">
                    <div class="title">warehouse &<br>logistics<br>solutions</div>
                </div>
                <div class="content-block">
                    <div class="content">
                        <p>We will bring our very capable logistics and warehousing know-how to the relationship. We have a very cost effective network operating globally where we manage your inventory and can reach any distribution point with nominated products.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
