description = "Solutions-Our servise"

[viewBag]
==

{% put styles %}
    <link rel="stylesheet" href="{{ 'assets/css/solutions-our-servise.css'|theme }}">
{% endput %}

<section class="scroll-section" id="our-servise" data-section-name="our-servise">
    <div class="our-servise">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="content-container">
                        <div class="title-block text-uppercase">
                            <div class="title">Our Services</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="servise-block">
    <div class="servise-block">
        <div class="food-and-beverage">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="content-container block">
                            <div class="title-block text-uppercase">
                                <div class="title">food &<br>beverage<br>concepts</div>
                            </div>
                            <div class="content-block">
                                <div class="content">
                                    <p>Our tailor-made food & beverage solutions combine packaging, innovative food, brand partnerships and menu options. You will have access to a worldwide team of experts with impressive culinary development, procurement and retail skills.</p>
                                    <p>With our in-house design studio, our own packaging factory, supply network and culinary development skills we provide speed to market and create better value for time, cost and quality. All our products are developed in a way to minimize handling for crew and caterers, maximize loading onboard and being cost conscious. Last but not least, we can guarantee a consistent product throughout the network.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="material-img js-parallax" id="cocoa-material" data-speed="0.2"><img src="{{ 'solutions/cocoa_1024.png'|media }}"></div>
        <div class="marketing-brand scroll-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="content-container block">
                            <div class="title-block text-uppercase">
                                <div class="title">marketing &<br>brand<br>activation</div>
                            </div>
                            <div class="content-block">
                                <div class="content">
                                    <p>Through our global network with major brands we are able to connect you to the right partners, giving your products the extra touch to amaze your customers. We are the bridge between the brand partner and the consumer which will bring your service to the next level. From promotional products to complete marketing & brand activation campaigns; we can make it happen!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="material-img js-parallax" id="alain-material" data-speed="0.2"><img src="{{ 'solutions/alain_chocolate_1.png'|media }}"></div>
        <div class="material-img js-parallax" id="alain-material-1" data-speed="0.2"><img src="{{ 'solutions/alain_chocolate_2.png'|media }}"></div>
        <div class="packaging-solutions scroll-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="content-container block">
                            <div class="title-block text-uppercase">
                                <div class="title">packaging<br>solutions</div>
                            </div>
                            <div class="content-block">
                                <div class="content">
                                    <p>We bring extensive know-how to the arena of packaging to ensure your product cannot only be delivered correctly to the end client but to also ensure it can be handled efficiently during the sometimes very complex supply chain. With our in-house packaging factory & design studio we create speed to market but more importantly operate very cost effective. Our main focus is biodegradable materials!</p>
                                </div>
                            </div>
                            <!-- <div class="content-block">
                                <div class="content">
                                    <p><span class="special-letter">S</span>plendid Group's inhouse plastics and paper factory heavily invests in biodegradable and compostable packaging and cutlery</p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="material-img js-parallax" id="alain-packaging-material" data-speed="0.2"><img src="{{ 'solutions/alain_chocolate_packaging_1.png'|media }}"></div>
        <div class="material-img js-parallax" id="alain-packaging-material-1" data-speed="0.2"><img src="{{ 'solutions/alain_chocolate_packaging_2.png'|media }}"></div>
        <div class="warehouse-logistics scroll-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="content-container block">
                            <div class="title-block text-uppercase">
                                <div class="title">warehouse &<br>logistics<br>solutions</div>
                            </div>
                            <div class="content-block">
                                <div class="content">
                                    <p>We will bring our very capable logistics and warehousing know-how to the relationship. We have a very cost-effective network operating globally where we manage your inventory and can reach any distribution point with nominated products.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        <div class="floating-container">
            <!-- Start of Beans -->
            <div class="floating-obj js-parallax" id="bean-1" data-speed="0.5"><img src="{{ 'solutions/bean1.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="bean-2" data-speed="0.8"><img src="{{ 'solutions/bean3.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="bean-3" data-speed="0.8"><img src="{{ 'solutions/bean3.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="bean-4" data-speed="0.8"><img src="{{ 'solutions/bean2.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="bean-5" data-speed="0.8"><img src="{{ 'solutions/bean1.png'|media }}"/></div>
            <!-- End of Beans -->
            <!-- Start of chips -->
            <div class="floating-obj js-parallax" id="chip-1" data-speed="1"><img src="{{ 'solutions/chips1.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="chip-2" data-speed="1"><img src="{{ 'solutions/chips3.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="chip-3" data-speed="1"><img src="{{ 'solutions/chips4.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="chip-4" data-speed="1"><img src="{{ 'solutions/chips2.png'|media }}"/></div>
            <!-- End of chips -->
            <!-- Start of caramel -->
            <div class="floating-obj js-parallax" id="caramel-1" data-speed="1"><img src="{{ 'solutions/caramel.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="caramel-2" data-speed="1"><img src="{{ 'solutions/caramel.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="caramel-3" data-speed="1"><img src="{{ 'solutions/caramel_flip.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="caramel-4" data-speed="1"><img src="{{ 'solutions/caramel.png'|media }}"/></div>
            <!-- End of caramel -->
            <!-- Start of salts -->
            <div class="floating-obj js-parallax" id="salt-1" data-speed="0.5"><img src="{{ 'solutions/salt2.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="salt-2" data-speed="0.5"><img src="{{ 'solutions/salt1.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="salt-3" data-speed="0.5"><img src="{{ 'solutions/salt3.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="salt-4" data-speed="0.5"><img src="{{ 'solutions/salt3.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="salt-5" data-speed="0.5"><img src="{{ 'solutions/salt1.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="salt-6" data-speed="0.5"><img src="{{ 'solutions/salt2.png'|media }}"/></div>
            <!-- End of salts -->
            <!-- Start of rose -->
            <div class="floating-obj js-parallax" id="rose-1" data-speed="0.1"><img src="{{ 'solutions/rose2.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="rose-2" data-speed="0.1"><img src="{{ 'solutions/rose1.png'|media }}"/></div>
            <div class="floating-obj js-parallax" id="rose-3" data-speed="0.1"><img src="{{ 'solutions/rose3.png'|media }}"/></div>
            <!-- End of rose -->
        </div>
    </div>
</section>
