description = "Solutions-QualityAndSafety"

[viewBag]
==
{% put styles %}
    <link rel="stylesheet" href="{{ 'assets/css/solutons-quality-and-safety.css'|theme }}">
{% endput %}
<section class="scroll-section" id="quality-and-safety" data-section-name="quality-and-safety">
    <div class="quality-and-safety">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="content-container">
                        <div class="title-block text-uppercase">
                            <div class="title">QUALITY & SAFETY</div>
                        </div>
                        <div class="content-block">
                            <div class="content">
                                <p>Our factories strive to achieve 100% consistent quality through an intricate network of quality control and assurance procedures.</p>
                                <p>We have a manager onsite at our factories and productions units whose responsibilities include ensuring Quality & Safety. </p>
                                <p>All our factories and production units have accredited processes and plans in place. Standard operating procedures are documented and our staff is highly trained.</p>
                                <p>Checks and processes are available for inspection at the units. We have our own, fully equipped, in-house testing lab and additionally we work with certified 3rd party laboratories that test our products in case external testing is required.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-md-8">
                    <div class="img-container">
                        <img src=" {{ 'solutions/qualityandsafty.gif'|media }} " alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
