description = "Solutions-QualityAndSafety"

[viewBag]
==
{% put styles %}
    <link rel="stylesheet" href="{{ 'assets/css/solutons-quality-and-safety.css'|theme }}">
{% endput %}
<section class="scroll-section" id="quality-and-safety" data-section-name="quality-and-safety">
    <div class="quality-and-safety">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="content-container">
                        {% content 'solutions/quality-and-safety.htm' %}
                    </div>
                </div>
                <div class="col-xl-8 col-md-8">
                    <div class="img-container">
                        <img id="quality-desktop" data-src=" {{ 'solutions/qualityandsafty.gif'|media }} " alt="">
                        <img id="quality-mobile" data-src=" {{ 'solutions/qualityandsafty_m.gif'|media }} " alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
