description = "Solutions-Sustainability"

[viewBag]
==
{% put styles %}
    <link href="{{ 'assets/css/solutions-sustainability.css'|theme }}" rel="stylesheet">
{% endput %}
<section id="sustainability">
    <div class="sustainability">
        <div class="container-fluid">
            <div class="row">
                <div class="sustainability-bg"></div>
                <div class="col-xl-6 col-md-6 content-block">
                    <div class="content text-right">
                        <p>We recognize that the way in which we operate has an impact on the environment and are committed to integrating sustainability best practices into our decision-making and business activities worldwide. We invest in new production techniques and materials to offer clients a better sustainable alternative to what is currently available in the marketplace. Our strategy is comprised of the following 3 pillars.</p>
                        </div>
                </div>
                <div class="col-xl-6 col-md-6 text-left title-block">
                    <div class="title text-uppercase">
                        <p>Sustainability and Social Responsibilities</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="animate-container">
                        hahah
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
