description = "Solutions-Sustainability"

[viewBag]
==
{% put styles %}
    <link href="{{ 'assets/css/solutions-sustainability.css'|theme }}" rel="stylesheet">
{% endput %}
{% put scripts %}
    <script src="{{ 'assets/javascript/sustainability.js'|theme }}"></script>
{% endput %}
<section class="scroll-section" id="sustainability" data-section-name="sustainability">
    <div class="sustainability">
        <div class="container-fluid">
            <div class="row">
                <div class="sustainability-bg"></div>
                <div class="col-xl-6 col-md-6 title-block-container">
                    <div class="title-block">
                        <div class="title text-uppercase">
                            <p>Sustainability<br>and Social<br>Responsibilities</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="content-block">
                        <div class="content">
                            <p>We recognize that the way in which we operate has an impact on the environment and are committed to integrating sustainability best practices into our decision making and business activities worldwide. We invest in new production techniques and materials to offer clients a better sustainable alternative to what is currently available in the marketplace. Our strategy is comprised of the following 3 pillars.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container sustainability-flip-object">
            <div class="row sustainability-flip-content">
                <div class="col-xl-12 object-container" id="object-container">
                    <i class="control fa fa-angle-left fa-3x" id="left" to="71"></i>
                    <i class="control fa fa-angle-right fa-3x" id="right" to="31"></i>
                    <div class="animate-area"></div>
                </div>
            </div>
        </div>
    </div>
</section>
