.group-description {
    text-align: center;
    position: relative;
    height: 100%;
    min-height: 100vh;
}

.group-description .group-desc-block {
    max-width: 1440px;
    margin: auto;
    padding-bottom: 10rem;
    width: 90%;
    /* width: 50%; */
    /* margin-right: auto; */
    /* display: inline-block; */
}

.group-description .group-img-block img {
    max-width: 16%;
    margin: 5%;
}

.group-description .desc-title {
    font-size: 2rem;
    font-weight: bold;
}

.group-description .desc-content {
    width: 60%;
    margin: auto;
}

.group-description .desc-service-menu {
    margin: 4rem auto;
}

.group-description .desc-service-menu ul {
    margin: 0;
    padding: 0;
}

.group-description .desc-service-menu ul li {
    display: inline-block;
    margin: 1rem;
}

.group-description .desc-service-menu ul li img{
    max-width: 130px;
}

.group-description .desc-video-block {
    display: inline-block;
    width: 50%;
}

.group-description .video-container {
    /* margin-right: 20%; */
    /* position: absolute;
    top: 15%; */
}

.group-description .video-container video {
    width: 60%;
}

@media (max-width: 768px) {
    .group-description {
        margin-top: -5rem;
    }
    .group-description .group-img-block img {
        max-width: 50%;
    }

    .group-description .desc-content {
        width: 85%;
    }

    .group-description .video-container video {
        width: 100%;
    }
}
