.home {
    width: 100%;
    height: 100vh;
    background-color: #80cfd4;
    padding-top: 5.5rem;
}

.left-content {
    margin-top: 8rem;
}

.home-font {
    color: #fff;
}

.home-title {
    font-size: 3em;
    text-transform: uppercase;
}

.home-sub-title {
    font-size: 1.5em;
    text-transform: uppercase;
}

.home-content {
    font-size: 1em;
    font-weight: lighter;
}

.home-gif {
    text-align: center;
}

.home-gif img{
    width: 100%;
}
