.contact-us {
    width: 100%;
    height: 100vh;
    min-height: 100%;
    background-color: #fcdc00;
    padding-top: 8rem;
    color: black;
    overflow: hidden;
    background-image: url(../images/contact_us_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-us .contact-us-container {
    height: calc(100vh - 8rem);
}

.contact-us .contact-us-container > .row{
    height: 100%;
}

/* Side slider part style */
#contact-us .side-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#contact-us img.hex-main {
    position: absolute;
    max-width: 25%;
    top: 31%;
    left: -6%;
    z-index: 100;
}

#contact-us img.hex-main.slide-top {
    transform: translateY(-105%)  scale(1);
    transition: transform 1s;
}

#contact-us img.hex-main.slide-main {
    transform: translateX(55%);
    transition: transform 1s;
}

#contact-us img.hex-main.slide-bottom {
    transform: translateY(105%);
    transition: transform 1s;
}

#contact-us img.hex-main.slide-hide {
    transform: translateX(-100%) scale(0.2);
    transition: transform 1s;
}

@media (max-width: 768px) {
    #contact-us .side-slider {
        display: none;
    }
}

/* Address part style */
/* .contact-us .address-detail:not(#hk-office) {
    display: none;
} */

.contact-us .address .address-detail {
    width: 90%;
    display: inline-block;
    height: 100%;
    padding-top: 1rem;
    vertical-align: top;
}

.contact-us .address .address-detail .office-title{
    font-size: 1.5rem;
}

.contact-us .control-btn {
    width: calc(100% - 90% - 1rem);
    display: inline-block;
    position: relative;
    height: calc(100% - 1rem);
    text-align: left;
}

.contact-us .control-btn img{
    display: block;
    cursor: pointer;
    position: relative;
}

.contact-us .control-btn #up-btn {
    top: 10%;
}

.contact-us .control-btn #down-btn {
    top: 60%;
}

.contact-us .address {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 4%;
    height: 25%;
}

/* Contact-us Part style */
.contact-us .content-us-content {
    height: 30%;
    margin-top: auto;
    margin-bottom: 3%;
}
