/* Bubble menu style */
.bubble-menu .opt .bullet {
    background-image: url(../images/menu_opt.png);
}

.bubble-menu .opt.active .bullet#home {
    background-image: url(../images/menu_opt_home.png);
}

.bubble-menu .opt.active .bullet#facilities {
    background-image: url(../images/menu_opt_facility.png);
}

.bubble-menu .opt.active .bullet#quality {
    background-image: url(../images/menu_opt_quality.png);
}

.bubble-menu .opt.active .bullet#sustainability {
    background-image: url(../images/menu_opt_sustainability.png);
}

.bubble-menu .opt.active .bullet#news {
    background-image: url(../images/menu_opt_news.png);
}

.bubble-menu .opt.active .bullet#contactus {
    background-image: url(../images/menu_opt_contactus.png);
}

.bubble-menu .opt.facilities-opt label {
    transition-delay: 0.1s;
}
.bubble-menu .opt.quality-content-opt label {
    transition-delay: 0.2s;
}
.bubble-menu .opt.sustainability-opt label {
    transition-delay: 0.3s;
}
.bubble-menu .opt.news-opt label {
    transition-delay: 0.4s;
}
.bubble-menu .opt.contact-us-opt label {
    transition-delay: 0.5s;
}
