nav ul li {
    display: inline;
    padding: 0.3rem;
    margin: 0.3rem;
    letter-spacing: 1px;
    cursor: pointer;
}

nav ul.nav-right-menu {
    margin-top: 1rem;
    margin-left: auto;
    font-size: 0.8vw;
}

nav ul {
    display: inline;
    font-weight: 300;
    list-style-type: none;
    -webkit-padding-start: 0px;
}

nav a {
    width: 40%;
}

a {
    color: inherit;
}

/* Bubble menu style */
.bubble-menu .opt .bullet {
    background-image: url(../images/menu_opt.png);
}

.bubble-menu .opt.active .bullet#home {
    background-image: url(../images/menu_opt_home.png);
}

.bubble-menu .opt.active .bullet#design {
    background-image: url(../images/menu_opt_contactus.png);
}

.bubble-menu .opt.active .bullet#facilities {
    background-image: url(../images/menu_opt_facility.png);
}

.bubble-menu .opt.active .bullet#quality {
    background-image: url(../images/menu_opt_quality.png);
}

.bubble-menu .opt.active .bullet#sustainability {
    background-image: url(../images/menu_opt_sustainability.png);
}

.bubble-menu .opt.active .bullet#news {
    background-image: url(../images/menu_opt_news.png);
}

.bubble-menu .opt.active .bullet#contactus {
    background-image: url(../images/menu_opt_contactus.png);
}

.bubble-menu .opt.design-opt label {
    transition-delay: 0.1s;
}
.bubble-menu .opt.facilities-opt label {
    transition-delay: 0.2s;
}
.bubble-menu .opt.quality-content-opt label {
    transition-delay: 0.3s;
}
.bubble-menu .opt.sustainability-opt label {
    transition-delay: 0.4s;
}
.bubble-menu .opt.news-opt label {
    transition-delay: 0.5s;
}
.bubble-menu .opt.contact-us-opt label {
    transition-delay: 0.6s;
}

.bubble-menu {
    transition: 1s;
}

.bubble-menu.hidden {
    transform: translateX(1000px);
}

.hints {
    position: fixed;
    z-index: 2;
    right: -13%;
    top: 39%;
    width: 25%;
    opacity: 1;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.hints.hidden {
    opacity: 0;
}

.hints img {
    width: 35%;
}

@media screen and (max-width: 768px) {
    .hints {
        display: none;
    }

    nav ul.nav-right-menu {
        display: none;
    }
}