.sustainability {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #00bc71;
    padding-top: 7rem;
    background-image: url(../images/sustainability_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.sustainability .sustainability-part-bg  {
    position: absolute;
}

.sustainability .sustainability-part-bg img {
    width: 29%;
}

.sustainability .sustainability-content {
    text-align: center;
    height: 50%;
}

.sustainability .sustainability-content-container {
    margin: auto;
}

.sustainability .sustainability-text-content {
    font-weight: 300;
    font-size: 1rem;
}

.sustainability .sustainability-flip-object{
    height: calc(100vh - 7rem - 50%);
    text-align: center;
}

.sustainability .sustainability-flip-content {
    height: 100%;
}

.sustainability .sustainability-flip-object .flip-object{
    position: absolute;
}

.sustainability .sustainability-flip-object .flip-img {
    width: 45%;
}

.sustainability .object-container {
    position: relative;
}

.sustainability .object-container .control{
    position: absolute;
    z-index: 1;
    margin-top: 24%;
    cursor: pointer;
}

.sustainability .object-container .control.disable{
    opacity: 0.3;
    cursor: none;
}

.sustainability .object-container .control#left{
    left: 20%;
}

.sustainability .object-container .control#right{
    left: 77%;
}

.swiper-container {
  width: 400px;
  height: 400px;
  padding: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}

.swiper-slide#slide-1 {
    background-image: url(../images/sustainability_base.png);
}

.swiper-slide#slide-2 {
    background-image: url(../images/sustainability_face_1.png);
}

.sustainability .animate-area {
    width: 850px;
    height: 850px;
    background: url(../images/solutions/solutions_cube_rotation_850.png) no-repeat 0 0;
    margin: auto;
    margin-top: -7%;

}

.sustainability-flip-images {
    display: none;
}

.sustainability .sustain-footer {
    width: 20%;
    position: absolute;
    bottom: 0;
    right: 2%;
}

.sustainability .sustain-footer .logo-container {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.sustainability .sustain-footer ul {
    padding-inline-start: 0px;
    -webkit-padding-start: 0px;
}

.sustainability .sustain-footer ul li {
    display: block;
    text-align: center;
    margin: 15px;
}

.sustainability .sustain-footer ul li img {
    width: 90px;
}

@media screen and (max-width: 1440px) {
    .sustainability {
        padding-top: 4rem;
    }

    .sustainability .animate-area {
        width: 650px;
        height: 650px;
        background: url(../images/solutions/solutions_cube_rotation_650.png) no-repeat 0 0;
        margin: auto;
        margin-top: -4%;
    }
}

@media screen and (max-width: 768px) {
    .sustainability-flip-content {
        display: none;
    }

    .sustainability-flip-images {
        display: block;
        text-align: center;
    }
    .sustainability-flip-images img {
        max-width: 90%;
    }

    .sustainability .content-block {
        width: 90%;
        margin: auto;
    }

    .sustainability .sustain-slick .sustain-slick-img img {
        max-width: 80%;
        margin: auto;
    }

    .sustainability .sustain-slick .more-arrow.slick-disabled {
        opacity: 0;
    }

    .sustainability .sustain-slick .more-arrow {
        position: absolute;
        z-index: 1;
        top: 36%;
        cursor: pointer;
    }

    .sustainability .sustain-slick .more-arrow#left {
        left: 3%;
    }

    .sustainability .sustain-slick .more-arrow#right {
        right: 3%;
    }

    .sustainability .sustain-footer {
        position: static;
        width: 85%;
        text-align: center;
        margin: auto;
        padding-top: 2rem;
    }

    .sustainability .sustain-footer .logo-container {
        display: block;
        width: 100%;
    }

    .sustainability .sustain-footer ul {
        padding-inline-start: 0px;
    }
}
