.quality-content {
    width: 100%;
    height: 100vh;
    background-color: #5c2c86;
    padding-top: 8rem;
}

.quality-content .button-block-container {
    width: 100%;
    height: 100%;
    background-image: url('../images/quality_safety_bg.png');
    background-repeat: no-repeat;
    background-size: 90%;
}
