.home {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #80cfd4;
    padding-top: 8rem;
}

.home .left-content {
    margin-top: 8rem;
    padding-left: 10rem;
}

.home .right-content {
    /* background-color: #ffffff00;
    opacity: 0.5; */
}

.home-content {
    font-size: 1em;
    font-weight: 300;
    text-align: justify;
}


.home-gif {
    /* text-align: center; */
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url(../images/home-n.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

.home-gif .home-pin{
    position: absolute;
    /* background-color: black;
    opacity: 0.5; */
    transform: rotate(30deg);
    transform-origin: 15%;
}

.home-gif .home-pin#home-pro-pin {
    top: 6%;
    left: 48%;
    width: 50%;
    height: 26%;
}

.home-gif .home-pin#home-du-pin {
    top: 17%;
    left: 10%;
    width: 49%;
    height: 28%;
}

.home-gif .home-pin#home-ct-pin {
    top: 39%;
    left: 56%;
    width: 36%;
    height: 30%;
}

.home-gif .home-pin#home-io-pin {
    top: 52%;
    left: 9%;
    width: 37%;
    height: 25%;
}

.home-gif .home-pin#home-ns-pin {
    top: 67%;
    left: 44%;
    width: 37%;
    height: 23%;
}

/* Home popup */
.home-popup#popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000006b;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* display: none; */
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.home-popup .popup-base {
    background-color: #80cfd4;
    height: 85%;
    margin: 5%;
    width: 90%;
    padding: 20px;
    position: relative;
}

.home-popup .popup-base.base-bg {
    background-size: cover;
    background-repeat: no-repeat;
}

.home-popup .close-container {
    height: 30px;
}

.home-popup .close-container img.close{
    width: 2%;
}

.home-popup#popup-bg.show-popup {
    z-index: 10000;
    opacity: 1;
    visibility: visible;
}

.home-popup .home-popup-img {
    width: 80%;
}

.home-popup .popup-content {
    height: calc(100% - 30px);
    overflow: auto;
}

.popup-section-content {
    font-size: 1.1em;
    font-weight: 300;
    text-align: justify;
}

.home-popup .popup-title {
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1;
    color: rgb(61, 79, 119);
}

.home-popup .popup-content.layout-1 .right-content  {
    padding-top: 50px;
}

.home-popup .popup-arrow {
    position: absolute;
    top: 50%;
    width: 50px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

.home-popup .popup-arrow#left-arrow {
    left: 0;
    margin-left: 2%;
}

.home-popup .popup-arrow#right-arrow {
    right: 0;
    margin-right: 2%;
}

.home-popup .popup-arrow img{
    width: 80%;
}

@media screen and (max-width: 1200px) {
    .home {
        height: auto;
    }

    .home .left-content {
        padding-left: unset;
    }

    .home-popup .close-container img.close {
        width: 5%;
    }
}

@media screen and (max-width: 768px) {
    .home-popup .popup-arrow {
        top: 25%;
    }
}

@media screen and (max-width: 425px) {
    .home-gif {
        background-size: 100%;
    }
}
