.production-design {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: linear-gradient(90deg, #fcec76, #ffc314);
    position: relative;
}

.svg-bg {
    margin: 3rem;
    margin-bottom: auto;
}

.production-design .content-block {
    padding-top: 15rem;
    text-align: right;
    width: 80%;
    margin-right: auto;
}

.design-tooltip-container {
    position: absolute;
    top: 20%;
    right: 2%;
    width: 35%;
    background-color: rgb(237, 145, 59);
    opacity: 0;
    transition: .2s;
    -webkit-box-shadow: 3px -3px 20px 0px rgb(101, 101, 101);
    -moz-box-shadow: 3px -3px 20px 0px rgb(101, 101, 101);
    box-shadow: 3px -3px 20px 0px rgb(101, 101, 101);
    border-radius: 10px;
}

.design-tooltip-container::after {
    content: '';
    position: absolute;
    top: 35%;
    left: -10%;
    width: 0;
    height: 0;
    border: 90px solid transparent;
    border-top-color: rgb(237, 145, 59);
    border-bottom: 0;
    border-right: 0;
}

.design-tooltip-container.active {
    opacity: 1;
}

.design-tooltip-container .tooltip-content {
    width: 100%;
    height: 100%;
    padding: 3rem;
}

.design-tooltip-container .tooltip-content .title {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1;
    color: #ffbb01;
}

.design-tooltip-container .tooltip-content .content {
    font-size: 1.1em;
    font-weight: 300;
    text-align: justify;
    overflow: auto;
    height: 280px;
}

.design-pin-hints {
    position: absolute;
    z-index: 2;
    right: 20%;
    top: 40%;
    width: 25%;
    opacity: 1;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.design-pin-hints.hidden {
    opacity: 0;
}

.design-pin-hints img {
    width: 50%;
}

.production-design .svg-popup-bg {
    position: fixed;
    top: 0;
    z-index: -1;
    opacity: 0;
    background-color: #0000008c;
    width: 100%;
    height: 100%;
}

.production-design .svg-popup-bg .svg-popup-container {
    width: 90%;
    height: 94%;
    overflow-y: hidden;
    background-color: #f7d163;
    margin: 5%;
    position: relative;
}

.design-svg-container {
    /*
    width: 100%;
    height: 50%;
    background-image: url(../images/productions/design_graphic.svg);
    background-repeat: no-repeat;
    background-size: 400%;
    background-position: 45% 63%; 
    */
    width: 100%;
    height: 100%;
    background-image: url(../images/productions/design_graphic.svg);
    background-repeat: no-repeat;
    background-size: 980px;
    overflow: hidden;
}

.production-design .svg-popup-bg .svg-popup-container .close-btn {
    position: absolute;
    right: 0;
    margin: 10px;
    font-size: 2rem;
    z-index: 1;
}

.production-design .svg-popup-bg .svg-popup-container #design-popup-svg{
    height: 100%;
    position: absolute;
    transform: scale(1.5);
}

.production-design .svg-popup-bg .svg-popup-container .design-desc {
    position: absolute;
    bottom: 0;
    background-color: #f7d163d9;
    text-align: center;
    height: 50%;
    overflow: auto;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .design-pin-hints {
        display: none;
    }

    .svg-bg {
        margin: auto;
        margin-bottom: auto;
        padding-top: 4rem;
    }

    .production-design .content-block {
        width: 100%;
        text-align: center;
        margin-right: auto;
        padding-top: 0rem;
        padding-bottom: 5rem;
    }
}

@media screen and (max-width: 425px) {
    .production-design .svg-popup-bg.active {
        z-index: 10000;
        opacity: 1;
    }

    .design-tooltip-container {
        display: none;
    }

    .design-svg-container[data-active=Branding] {
        background-position: -305px -315px;
    }

    .design-svg-container[data-active=MarketResearch] {
        background-position: -475px -402px;
    }

    .design-svg-container[data-active=Designdevelopmentgroup] {
        background-position: -85px -475px;
    }

    .design-svg-container[data-active=Marketing] {
        background-position: -555px -190px;
    }

    .design-svg-container[data-active=AnimationVideoProduction] {
        background-position: -280px -115px; 
    }

    .design-svg-container[data-active=DigitalSolutions] {
        background-position: -95px -260px;
    }
}

@media screen and (max-width: 320px) {
    .design-svg-container {
        background-size: 800px;
    }

    .design-svg-container[data-active=Branding] {
        background-position: -250px -245px;
    }

    .design-svg-container[data-active=MarketResearch] {
        background-position: -385px -315px;
    }

    .design-svg-container[data-active=Designdevelopmentgroup] {
        background-position: -85px -350px;
    }

    .design-svg-container[data-active=Marketing] {
        background-position: -450px -150px;
    }

    .design-svg-container[data-active=AnimationVideoProduction] {
        background-position: -235px -50px;
    }

    .design-svg-container[data-active=DigitalSolutions] {
        background-position: -85px -180px;
    }
}