.news {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #e54179;
    padding-top: 8rem;
}

.news .news-desc-content {
    font-weight: 300;
}

.news .news-desc {
    text-align: right;
}

/* News details page style */
.news ul.btn-list {
    float: right;
    list-style-type: none;
}

.news ul.btn-list li {
    text-align: right;
}

.news .news-detail-image {
    height: 50vh;
    min-height: 100px;
    background: url(../images/news_detail_image_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 70% -20px;
}

.news .news-list-more {
    width: 50%;
    margin-left: auto;
    margin-right: 2%;
}

.news .more-news-arrow {
    position: absolute;
    z-index: 1;
    top: 36%;
    cursor: pointer;
}

.news .more-news-arrow#left {
    left: -3%;
}

.news .more-news-arrow#right {
    right: -3%;
}

/* News popup on home */
.news-popup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000000;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.news-popup.inactive {
    opacity: 0;
    z-index: -1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.news-popup .popup-base {
    width: 80%;
    height: 80%;
    background-color: #e54179;
    margin: 6% 10%;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
    background-image: url(../images/news_popup_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.news-popup .popup-base .btn-container {
    text-align: right;
    height: 3rem;
    padding: 1% 0;
}

.news-popup .popup-base .btn-container span{
    cursor: pointer;
}

.news-popup .popup-base .popup {
    height: 100%;
    overflow: auto;
}

.news-popup .popup-base .popup .row{
    height: calc(100% - 3rem);
    overflow: hidden;
}

.news-popup .popup-base .popup .news-popup-content {
    text-align: right;
}

.news-popup .popup-base .popup .news-popup-content, .news-popup .popup-base .popup .news-popup-detail-img {
    margin: 5rem auto;
}

.news-popup .news-detail-img.news-popup-main-hex {
    left: 22%;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
}

.news-popup .news-detail-img.news-popup-main-hex.details-img-hide {
    opacity: 0;
    transform: scale(0);
}

.news-popup .news-detail-img.news-popup-main-hex.details-img-1 {
    transform: scale(1);
    z-index: 2;
}

.news-popup .news-detail-img.news-popup-main-hex.details-img-2 {
    cursor: pointer;
    transform: scale(0.4) translateX(-180%) translateY(500px);
    z-index: 1;
}

.news-popup .news-detail-img.news-popup-main-hex.details-img-3 {
    cursor: pointer;
    transform: scale(0.4) translateX(180%) translateY(500px);
    z-index: 1;
}

.news .pagination {
    justify-content: center;
    cursor: pointer;
    font-size: 25px;
}

.news .pagination > * {
    padding: 5px 15px;
}

.news .pagination .page-no.active {
    border: solid;
    border-radius: 15px;
    background-color: #bf3866;
}

.news .control {
    position: absolute;
    margin-top: 25%;
    cursor: pointer;
}

.news .control.hidden {
    opacity: 0;
}

.news .control#left {
    left: 7%;
}

.news .control#right {
    right: 7%;
}

.news .hex[animate=slide-in-left] {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.news .hex[animate=slide-in-right] {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@media (max-width:1200px) {
    .news .news-list-more {
        width: 85%;
        margin: auto;
    }
}

@media (max-width:768px) {
    .news-popup .popup-base {
        margin: 20% 10%;
    }

    .news-popup .popup-base .popup .row {
        overflow: auto;
    }

    .news-popup .popup-base .popup .news-popup-content {
        text-align: left;
    }

    .news-popup-detail-img {
        margin: 8rem auto;
        order: -1;
        min-height: 20vh;
    }

    .news .control {
        display: none;
    }

}

@media (max-width:600px) {
    .news .more-news-arrow {
        top: 17%;
    }

    .news .more-news-arrow#left {
        left: -7%;
    }

    .news .more-news-arrow#right {
        right: -7%;
    }
}
/* End of news details page style */
