.about {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
}

.about .container-fluid {
    /* padding: 6rem; */
}

.about .content-container {
    width: 40%;
    height: 100%;
    margin-right: auto;
    padding: 10rem 1rem;
}

.about .title-block {
    width: 75%;
    margin-left: auto;
}

.about .title-block div {
    display: inline-block;
}

.about .title-block .sub-title {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1;
}

.about .content-block {
    width: 75%;
    overflow: auto;
    text-align: left;
    margin-left: auto;
    padding-right: 1rem;
}

.about .content-block .left-p {
    width: 100%;
    display: inline-block;
}

/* .about .content-block .right-p {
    width: calc(100% - 60% - 2rem);
    display: inline-block;
    vertical-align: top;
    margin-left: 2rem;
} */

/* carousel */
.about .carousel {
    position: absolute;
    top: 1%;
    right: 0;
    -webkit-clip-path: polygon(0% 15%, 100% 0%, 100% 90%, 15% 100%);
    clip-path: polygon(0% 15%, 100% 0%, 100% 90%, 15% 100%);
    z-index: -1;
    width: 60%;
    margin-left: auto;
}

.about .carousel::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.3;
    z-index: 1;
}
