.our-servise {
    width: 100%;
    height: 100%;
    /* min-height: 100vh; */
    position: relative;
    margin-bottom: 20rem;
}

.our-servise .our-servise-bg {
    width: 100%;
    height: 90%;
    position: absolute;
    top: -17%;
    left: 0%;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-image: url(../images/solutions/our_servise.jpg);
    -webkit-clip-path: polygon(40% 30%, 100% 0%, 100% 100%, 49% 85%);
    clip-path: polygon(40% 30%, 100% 0%, 100% 100%, 49% 85%);
    z-index: 0;
    opacity: 0.8;
}

.our-servise .our-servise-bg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #eb4e69;
    opacity: 0.8;
    z-index: 1;
}

.our-servise .content-container {
    width: 50%;
    height: 100%;
    margin: auto;
    text-align: center;
    padding: 5rem;
}

.our-servise .content-container .content-block{
    width: 70%;
    height: 20%;
    overflow: auto;
    padding-right: 1rem;
    float: right;
}

/* Servise block style */
#servise-block {
    margin-top: -25rem;
    margin-bottom: 20rem;
}

.servise-block {
    position: relative;
}

.servise-block .block {
    height: 100%;
    min-height: 80vh;
    color: #fff;
    width: 30%;
    padding-top: 10rem;
    text-align: right;
}

.servise-block .block .content-block{
    width: 85%;
}

.servise-block .block .title{
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.servise-block .block .content{
    font-size: 1.1rem;
}

.servise-block .food-and-beverage {
    background-color: #ef703f;
    background-image: url(../images/solutions/our_servise_bg.png);
    background-size: cover;
    -webkit-clip-path: polygon(0% 0%, 100% 23%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 23%, 100% 100%, 0% 100%);
}

.servise-block .marketing-brand {
    background-color: #f9b916;
    background-image: url(../images/solutions/our_servise_flip_bg.png);
    background-size: cover;
}

.servise-block .packaging-solutions .block .content-block:nth-of-type(2) {
    width: 70%;
}

.servise-block .packaging-solutions .block .content-block:nth-of-type(3) {
    font-style: italic;
}

.servise-block .packaging-solutions .block .content-block:nth-of-type(3) .content {
    font-weight: bold;
}

.servise-block .packaging-solutions {
    background-color: #95db61;
    background-image: url(../images/solutions/our_servise_flip_align_right_bg.png);
    background-size: cover;
}

.servise-block .warehouse-logistics {
    background-color: #eb4e69;
    background-image: url(../images/solutions/our_servise_flip_30_bg.png);
    background-size: cover;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 77%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 77%);
}

.servise-block .food-and-beverage .content-container {
    /* text-align: right; */
    padding-top: 4rem;
}

.servise-block .marketing-brand .content-container {
    padding-top: 4rem;
}

.servise-block .packaging-solutions .content-container {
    padding-top: 5rem;
}

.servise-block .warehouse-logistics .content-container {
    padding-top: 6rem;
}

.servise-block .food-and-beverage .content-container .content-block,
.servise-block .packaging-solutions .content-container .content-block,
.servise-block .marketing-brand .content-container .content-block,
.servise-block .warehouse-logistics .content-container .content-block {
    margin-left: auto;
}

.servise-block .material-img {
    position: absolute;
    /* margin-top: -10%; */
    /* width: 100%; */
    text-align: center;
    z-index: 1;
}

.servise-block .material-img#cocoa-material {
    margin-left: 57%;
    margin-top: -23%;
}

/* .servise-block .material-img#alain-material {
    margin-left: 5%;
    margin-top: -10%;
    z-index: 2;
}

.servise-block .material-img#alain-material-1 {
    margin-left: 14%;
    margin-top: -12%;
    z-index: 1;
} */

.servise-block .material-img#alain-material {
    margin-left: 60%;
    margin-top: -10%;
    z-index: 2;
}

.servise-block .material-img#alain-material-1 {
    margin-left: 68%;
    margin-top: -11%;
    z-index: 1;
}

.servise-block .material-img#alain-packaging-material {
    margin-left: 60%;
    margin-top: -8%;
    z-index: 2;
}

.servise-block .material-img#alain-packaging-material-1 {
    margin-left: 68%;
    margin-top: -11%;
    z-index: 1;
}

.servise-block .material-img img {
    max-width: 80%;
}

/* Floating object */
.servise-block .floating-obj {
    position: absolute;
}

.servise-block .floating-obj img {
    max-width: 80%;
}

.servise-block .floating-obj#bean-1 {
    left: 70%;
    top: 5%;
}

.servise-block .floating-obj#bean-2 {
    left: 60%;
    top: 10%;
}

.servise-block .floating-obj#bean-3 {
    left: 47%;
    top: 13%;
    transform: rotate(45deg);
}

.servise-block .floating-obj#bean-4 {
    left: 57%;
    top: 16%;
}

.servise-block .floating-obj#bean-5 {
    left: 47%;
    top: 23%;
}

.servise-block .floating-obj#chip-1 {
    left: 34%;
    top: 23%;
}

.servise-block .floating-obj#chip-2 {
    left: 55%;
    top: 28%;
}

.servise-block .floating-obj#chip-3 {
    left: 34%;
    top: 40%;
}

.servise-block .floating-obj#chip-4 {
    left: 49%;
    top: 35%;
}

.servise-block .floating-obj#salt-1 {
    left: 50%;
    top: 70%;
}

.servise-block .floating-obj#salt-2 {
    left: 44%;
    top: 74%;
}

.servise-block .floating-obj#salt-3 {
    left: 50%;
    top: 77%;
    transform: rotate(-25deg);
}

.servise-block .floating-obj#salt-4 {
    left: 37%;
    top: 79%;
    transform: rotate(159deg);
}

.servise-block .floating-obj#salt-5 {
    left: 53%;
    top: 86%;
}

.servise-block .floating-obj#salt-6 {
    left: 40%;
    top: 91%;
}

.servise-block .floating-obj#caramel-1 {
    left: 52%;
    top: 48%;
    transform: rotate(-40deg);
}

.servise-block .floating-obj#caramel-2 {
    left: 60%;
    top: 55%;
    transform: rotate(20deg);
}

.servise-block .floating-obj#caramel-3 {
    left: 45%;
    top: 60%;
    transform: rotate(-63deg);
}

.servise-block .floating-obj#caramel-4 {
    left: 50%;
    top: 66%;
    transform: rotate(40deg);
}

.servise-block .floating-obj#rose-1 {
    left: 75%;
    top: 87%;
}

.servise-block .floating-obj#rose-2 {
    left: 62%;
    top: 85%;
}

.servise-block .floating-obj#rose-3 {
    left: 55%;
    top: 95%;
}

@media screen and (max-width: 1440px) {
    .servise-block .block .content {
        font-size: 1rem;
        line-height: 1.4;
    }
}

@media screen and (max-width: 768px) {
    .our-servise .content-container {
        width: auto;
    }

    #servise-block {
        margin-bottom: 5rem;
    }

    .servise-block .food-and-beverage {
        -webkit-clip-path: polygon(0% 0%, 100% 5%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 5%, 100% 100%, 0% 100%);
    }

    .servise-block .warehouse-logistics {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
    }

    .servise-block .block {
        width: auto;
    }

    .servise-block .floating-container {
        display: none;
    }

    .servise-block .block {
        min-height: 100vh;
        padding-top: 2rem;
    }

    .servise-block .food-and-beverage .content-container,
    .servise-block .marketing-brand .content-container {
        text-align: left;
    }

    .servise-block .packaging-solutions .content-container {
        padding-top: 2rem;
        text-align: left;
    }

    .servise-block .warehouse-logistics .content-container {
        padding-top: 2rem;
        text-align: left;
    }


    .servise-block .food-and-beverage .content-container .content-block,
    .servise-block .packaging-solutions .content-container .content-block,
    .servise-block .marketing-brand .content-container .content-block,
    .servise-block .warehouse-logistics .content-container .content-block {
        margin-left: unset;
        margin-right: auto;
    }

    /* .servise-block .material-img img {
        max-width: 100%;
    } */

    /* .servise-block .material-img#alain-material {
        margin-left: 60%;
    }

    .servise-block .material-img#alain-material-1 {
        margin-left: 68%;
        margin-top: -11%;
    } */
}

@media screen and (max-width: 320px) {
    .servise-block .block .title{
        font-size: 1.7rem;
    }
}
