.how-we-work {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
}

.how-we-work .how-we-work-bg {
    width: 70%;
    height: 90%;
    position: absolute;
    top: -17%;
    left: 0%;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-image: url(../images/solutions/how_we_work_bg.jpg);
    -webkit-clip-path: polygon(0 0, 86% 24%, 59% 92%, 0 83%);
    clip-path: polygon(0 0, 86% 24%, 59% 92%, 0 83%);
    z-index: -1;
    opacity: 0.8;
}

.how-we-work .how-we-work-bg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ffd56c;
    opacity: 0.9;
    z-index: 1;
}

.how-we-work .container-fluid {
    padding-top: 4rem;
    padding-bottom: 8rem;
}

.how-we-work .content-container {
    width: 70%;
    height: 100%;
    margin-left: 15rem;
    padding: 1rem;
}

.how-we-work .content-container .title-block {
    line-height: 1.2;
}

.how-we-work .content-container .content-block {
    width: 75%;
    overflow: auto;
    padding-right: 1rem;
}

.how-we-work .content-block .left-p {
    width: 60%;
    display: inline-block;
}

.how-we-work .description-container {
    max-width: 95%;
    text-align: center;
    position: relative;
    margin: 30px auto;
    /* margin-top: -20rem; */
}

.how-we-work .description-slick {
    display: none;
}

.how-we-work .description-block {
    width: calc((100% - 60px * 2 * 4) / 4);
    height: calc((100vw - 30px * 2 * 4) / 4 * (3 / 4));
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px;
    -webkit-box-shadow: 9px 12px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 9px 12px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    vertical-align: bottom;
    opacity: 0;
}

.how-we-work .description-block::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    z-index: 1;
}

.how-we-work .description-block::after {
    color: #fff;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 35%;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    z-index: 2;
    line-height: 1;
}

.how-we-work .description-block#come-together {
    background-image: url(../images/solutions/come_together.jpg);
    background-size: cover;
    background-position: center;
}

.how-we-work .description-block#come-together::before {
    outline: solid 13.65rem #ffdd50;
    outline-offset: -218px;
    transition: .5s ease;
}

.how-we-work .description-block.active::before {
    outline-offset: -25px !important;
}

.how-we-work .description-block.active#come-together::before {
    outline: solid 1.6rem #ffdd50 !important;
}

.how-we-work .description-block#come-together::after {
    content: "WE COME TOGETHER";
}

.how-we-work .description-block#we-design {
    background-image: url(../images/solutions/we_design.jpg);
    background-size: cover;
    background-position: center;
    animation-delay: .2s;
}

.how-we-work .description-block#we-design::before {
    outline: solid 13.65rem #f9b916;
    outline-offset: -218px;
    transition: .5s ease;
}

.how-we-work .description-block.active#we-design::before {
    outline: solid 1.6rem #f9b916 !important;
}

.how-we-work .description-block#we-design::after {
    content: "WE\A DESIGN";
    white-space: pre;
}

.how-we-work .description-block#we-produce {
    background-image: url(../images/solutions/we_produce.jpg);
    background-size: cover;
    background-position: center;
    animation-delay: .4s;
}

.how-we-work .description-block#we-produce::before {
    outline: solid 13.65rem #ff7610;
    outline-offset: -218px;
    transition: .5s ease;
}

.how-we-work .description-block.active#we-produce::before {
    outline: solid 1.6rem #ff7610 !important;
}

.how-we-work .description-block#we-produce::after {
    content: "WE PRODUCE";
}

.how-we-work .description-block#we-deliver {
    background-image: url(../images/solutions/we_deliver.jpg);
    background-size: cover;
    background-position: center;
    animation-delay: .6s;
}

.how-we-work .description-block#we-deliver::before {
    outline: solid 13.65rem #f44a1c;
    outline-offset: -218px;
    transition: .5s ease;
}

.how-we-work .description-block.active#we-deliver::before {
    outline: solid 1.6rem #f44a1c !important;
}


.how-we-work .description-block#we-deliver::after {
    content: "WE\A DELIVER";
    white-space: pre;
}

@media screen and (max-width: 2000px) {
    .how-we-work .description-container {
        margin-top: -2rem;
    }

    .how-we-work .description-block {
        width: calc((100% - 40px * 2 * 4) / 4);
        height: calc((100vw - 15px * 2 * 4) / 4 * (3 / 4))
    }
}

@media screen and (max-width: 1440px) {
    .how-we-work .content-block .left-p {
        width: 100%;
    }

    .how-we-work .description-block {
        width: calc((100% - 40px * 2 * 4) / 4);
        height: calc((100vw - 15px * 2 * 4) / 4 * (3 / 4))
    }
}

@media screen and (max-width: 768px) {
    .how-we-work .container-fluid {
        padding-bottom: 1rem;
    }
    .how-we-work .how-we-work-bg {
        width: 100%;
        height: 45%;
        top: 0%;
    }
    .how-we-work .content-container {
        width: auto;
        margin: auto;
        padding: unset;
        text-align: center;
    }

    .how-we-work .content-block {
        margin: auto;
    }

    .how-we-work .content-container .content-block {
        width: 90%;
        padding: unset;
    }

    .how-we-work .description-container {
        display: none;
    }

    .how-we-work .description-slick {
        display: block;
    }

    .how-we-work .description-slick .desc-slick-img img {
        max-width: 80%;
        margin: auto;
    }

    .how-we-work .description-slick .more-arrow.slick-disabled {
        opacity: 0;
    }

    .how-we-work .description-slick .more-arrow {
        position: absolute;
        z-index: 1;
        top: 36%;
        cursor: pointer;
    }

    .how-we-work .description-slick .more-arrow#left {
        left: -3%;
    }

    .how-we-work .description-slick .more-arrow#right {
        right: -3%;
    }
}
