.news {
    width: 100%;
    height: 100%;
    min-height: 110vh;
    position: relative;
}

.news .container-fluid {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.news .news-description {
    width: 76%;
    margin: auto;
}

.news .news-bg {
    width: 40%;
    height: 80%;
    position: absolute;
    top: -10%;
    left: 0%;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-image: url(../images/solutions/news_block_bg.jpg);
    -webkit-clip-path: polygon(0 0, 86% 24%, 59% 92%, 0 83%);
    clip-path: polygon(0 0, 86% 24%, 59% 92%, 0 83%);
    z-index: -1;
}

.news .news-bg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #5dad70;
    opacity: 0.8;
    z-index: 1;
}

section#news-block {
    /* margin-top: -20%; */
    margin-top: -5rem;
}

.news-grid {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* transition: all 750ms ease-in-out; */
}

.news-grid .news-item {
    position: relative;
    height: 350px;
    margin: 0.5em;
    flex: 0 1 30%;
    color: #fff;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.news-grid .news-item::before {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
}

.news-grid .news-item:hover {
    -webkit-clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%) !important;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%) !important;
    transform: scale(1.1) ;
    opacity: 1;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.news-grid .news-item:hover::before{
    background-color: transparent !important;
}

.news-item:nth-child(1) {
    -webkit-clip-path: polygon(15% 20%, 100% 11%, 100% 100%, 10% 100%);
    clip-path: polygon(15% 20%, 100% 11%, 100% 100%, 10% 100%);
}

.news-item:nth-child(1)::before {
    background-color: #55dfa9;
}

.news-item:nth-child(2) {
    -webkit-clip-path: polygon(0 10%, 100% 5%, 100% 100%, 0% 100%);
    clip-path: polygon(0 10%, 100% 5%, 100% 100%, 0% 100%);
}

.news-item:nth-child(2)::before {
    background-color: #209f72;
}

.news-item:nth-child(3) {
    -webkit-clip-path: polygon(0 5%, 85% 0%, 90% 100%, 0% 100%);
    clip-path: polygon(0 5%, 85% 0%, 90% 100%, 0% 100%);
}

.news-item:nth-child(3)::before {
    background-color: #2a9059;
}

.news-grid .news-item:nth-child(1) .news-desc-block, .news-grid .news-item:nth-child(2) .news-desc-block, .news-grid .news-item:nth-child(3) .news-desc-block {
    margin: 20% auto;
}

.news-item:nth-child(4) {
    -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 5% 100%);
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 5% 100%);
}

.news-item:nth-child(4)::before {
    background-color: #4edca8;
}

.news-item:nth-child(5) {
    -webkit-clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
}

.news-item:nth-child(5)::before {
    background-color: #1ab179;
}

.news-item:nth-child(6) {
    -webkit-clip-path: polygon(0 0, 90% 0, 95% 100%, 0% 100%);
    clip-path: polygon(0 0, 90% 0, 95% 100%, 0% 100%);
}

.news-item:nth-child(6)::before {
    background-color: #209f72;
}

.news-item[news-type=company]:nth-child(1) {
    -webkit-clip-path: polygon(5% 0, 100% 0%, 100% 90%, 0% 85%);
    clip-path: polygon(5% 0, 100% 0%, 100% 90%, 0% 85%);
}

.news-item[news-type=company]:nth-child(1)::before {
    background-color: #2a9059;
}

.news-item[news-type=company]:nth-child(2) {
    -webkit-clip-path: polygon(0% 0, 100% 0%, 100% 95%, 0% 90%);
    clip-path: polygon(0% 0, 100% 0%, 100% 95%, 0% 90%);
}

.news-item[news-type=company]:nth-child(2)::before {
    background-color: #30b46f;
}

.news-item[news-type=company]:nth-child(3) {
    -webkit-clip-path: polygon(0% 0, 95% 0%, 100% 100%, 0% 95%);
    clip-path: polygon(0% 0, 95% 0%, 100% 100%, 0% 95%);
}

.news-item[news-type=company]:nth-child(3)::before {
    background-color: #46bc7f;
}

.news-grid .news-item[news-type=company]:nth-child(1) .news-desc-block, .news-grid .news-item[news-type=company]:nth-child(2) .news-desc-block, .news-grid .news-item[news-type=company]:nth-child(3) .news-desc-block {
    margin:11% auto;
}

.news-grid .news-item .news-desc-block {
    width: 60%;
    height: 55%;
    margin: 15% auto;
    text-align: center;
    outline: solid 5px #fff;
    opacity: 0.8;
}

.news-grid .news-item .news-desc-block.hide {
    opacity: 0;
    transition: 0.3s ease-in-out;
}

/* .news-grid .news-item .news-desc-block.active {
    height: 100%;
    margin-top: 15rem !important;
    transition: 0.5s ease-in-out;
    -webkit-animation: scale-desc-block 0.5s ease-in-out both;
	        animation: scale-desc-block 0.5s ease-in-out both;
}

@keyframes scale-desc-block {
  0% {
      width: 100%;
      outline: none;
  }
  100% {
      width: 100%;
      outline: none;

  }
} */

.news-grid .news-item .news-desc-block-hover {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 52%;
    opacity: 0;
    text-align: center;
    transition: 0.5s ease-in-out;
}

.news-grid .news-item .news-desc-block-hover.active {
    opacity: 1;
}

.news-grid .news-item:nth-child(1) .news-desc-block.active, .news-grid .news-item:nth-child(1) .news-desc-block-hover.active  {
    background-color: #55dfa9de;
}

.news-grid .news-item:nth-child(2) .news-desc-block.active, .news-grid .news-item:nth-child(2) .news-desc-block-hover.active  {
    background-color: #209f72de;
}

.news-grid .news-item:nth-child(3) .news-desc-block.active, .news-grid .news-item:nth-child(3) .news-desc-block-hover.active  {
    background-color: #2a9059de;
}

.news-grid .news-item:nth-child(4) .news-desc-block.active, .news-grid .news-item:nth-child(4) .news-desc-block-hover.active  {
    background-color: #4edca8de;
}

.news-grid .news-item:nth-child(5) .news-desc-block.active, .news-grid .news-item:nth-child(5) .news-desc-block-hover.active  {
    background-color: #1ab179de;
}

.news-grid .news-item:nth-child(6) .news-desc-block.active, .news-grid .news-item:nth-child(6) .news-desc-block-hover.active  {
    background-color: #209f72de;
}

.news-grid .news-item[news-type=company]:nth-child(1) .news-desc-block.active, .news-grid .news-item[news-type=company]:nth-child(1) .news-desc-block-hover.active  {
    background-color: #2a9059de;
}

.news-grid .news-item[news-type=company]:nth-child(2) .news-desc-block.active, .news-grid .news-item[news-type=company]:nth-child(2) .news-desc-block-hover.active  {
    background-color: #30b46fde;
}

.news-grid .news-item[news-type=company]:nth-child(3) .news-desc-block.active, .news-grid .news-item[news-type=company]:nth-child(3) .news-desc-block-hover.active  {
    background-color: #46bc7fde;
}

p.news-title {
    padding: 5% 5% 0 5%;
    font-size: 1.2vw;
    margin-bottom: 0rem;
}

p.news-desc {
    font-size: 0.8vw;
    padding: 5%;
}

.news ul.pagination {
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.news ul.pagination li {
    margin: 0px 5px;
    cursor: pointer;
}

.news ul.pagination li.active {
    text-decoration: underline;
}

@media screen and (max-width: 2000px) {
    .news-grid .news-item {
        height: 300px;
    }

    .news-grid .news-item .news-desc-block {
        margin: 19% auto;
    }

    .news-grid .news-item:nth-child(1) .news-desc-block, .news-grid .news-item:nth-child(2) .news-desc-block, .news-grid .news-item:nth-child(3) .news-desc-block {
        margin: 26% auto;
    }

    .news-grid .news-item[news-type=company]:nth-child(1) .news-desc-block, .news-grid .news-item[news-type=company]:nth-child(2) .news-desc-block, .news-grid .news-item[news-type=company]:nth-child(3) .news-desc-block {
        margin:15% auto;
    }
}


@media screen and (max-width: 1440px) {
    .news-grid .news-item {
        height: 230px;
    }
}

@media screen and (max-width: 768px) {
    .news .news-bg {
        width: 100%;
        height: 20%;
        top: 9%;
    }

    .news .news-description {
        width: 80%;
        text-align: center;
    }

    section#news-block {
        margin-top: 7rem;
    }

    .news-grid .news-item, .news-item[news-type=company] {
        height: 150px;
        clip-path: unset !important;
        -webkit-clip-path: unset !important;
    }

    .news-grid .news-item {
        flex: 0 1 48%;
        margin: 0.2em;
    }

    .news-item::before {
        background-color: inherit !important;
    }

    p.news-title {
        font-size: 0.9rem;
    }

    p.news-desc {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 320px) {
    section#news-block {
        margin-top: 3.5rem;
    }

    .news-grid .news-item {
        flex: 0 1 100%;
        margin: 0.5em;
    }
}
