body {
    color: #fff;
}

.font-homenaje {
    font-family: 'Homenaje', sans-serif;
}

.font-lato {
    font-family: 'Lato', sans-serif;
}

nav img.home-logo {
    width: 30%;
    margin: 30px 30px;
}

nav:not(.hide) {
    transform: translateY(0%);
    transition: 0.5s ease;
}

nav.scroll-home {
    background-color: #5ea1a5;
}

nav.scroll-quality {
    background-color: #260045;
}

nav.hide {
    transform: translateY(-100%);
    transition: 0.5s ease;
}

.follow-us {
    display: inline;
    padding-left: 35%;
}

.span-follow-us {
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    vertical-align: middle;
    padding-right: 15px;
}

.follow-us a {
    padding: 0px 2px;
}

img.followus-icon {
    width: 2%;
}

/* Page content */
.title {
    font-size: 3em;
    text-transform: uppercase;
}

.sub-title {
    font-size: 1.5em;
    text-transform: uppercase;
}
