description = "Production-Contact Us"

[viewBag]
==
{% put styles %}
    <link href="{{ 'assets/css/production-contactus.css'|theme }}" rel="stylesheet">
{% endput %}
<section id="contact-us">
    <div class="contact-us">
        <div class="container-fluid contact-us-container">
            <div class="row">
                <!-- Address img Slider -->
                <div class="col-xl-4">
                    Slider
                </div>
                <!-- Address Detail -->
                <div class="col-xl-3 address">
                    <div class="address-detail" id="hk-office" contact-index="1">
                        <div class="office-title font-homenaje text-uppercase">
                            <p><b>HEAD OFFICE HONG KONG</b></p>
                        </div>
                        <div class="content office-address">
                            <p>24th floor,Connaught Commercial Building,<br>
                            185 Wanchai road,<br>
                            Wanchai, Hong Kong</p>
                        </div>
                        <div class="content office-contact">
                            <p>Tel: +852 2555 0012<br>
                            Email: sales@splendidgroup.asia</p>
                        </div>
                    </div>
                    <div class="address-detail" id="china-office" contact-index="2">
                        <div class="office-title font-homenaje text-uppercase">
                            <p><b>CHINA OFFICE</b></p>
                        </div>
                        <div class="content office-address">
                            <p>Office F309,<br>
                            NanBo Building, ZhangMuTou,<br>
                            DongGuan, GD, China PO.523620</p>
                        </div>
                        <div class="content office-contact">
                            <p>Tel: +86 0769-89386960</p>
                        </div>
                    </div>
                    <div class="address-detail" id="china-office" contact-index="3">
                        <div class="office-title font-homenaje text-uppercase">
                            <p><b>Amsterdam office</b></p>
                        </div>
                        <div class="content office-address">
                            <p>Rokin 75, 1012 KL Amsterdam,<br>
                            the Netherlands</p>
                        </div>
                        <div class="content office-contact">
                            <p>Tel: +31 (0) 20 308 08 56</p>
                        </div>
                    </div>
                    <div class="address-detail" id="factory" contact-index="4">
                        <div class="office-title font-homenaje text-uppercase">
                            <p><b>Factory locations</b></p>
                        </div>
                        <div class="content office-address">
                            <p>Dongguan, Guangzhou, Shenzhen.</p>
                        </div>
                    </div>
                </div>

                <div class="control-btn col-xl-1">
                    <!-- <i class="fa fa-angle-up fa-3x"></i>
                    <i class="fa fa-angle-down fa-3x"></i> -->
                    <img id="up-btn" src="{{ 'productions/up_arrow.png'|media }}" alt="">
                    <img id="down-btn" src="{{ 'productions/down_arrow.png'|media }}" alt="">
                </div>

                <!-- Contact us content -->
                <div class="content-us-content col-xl-3 text-right">
                    <div class="title font-homenaje text-uppercase">
                        <p>Contact Us</p>
                    </div>
                    <div class="content font-lato">
                        Headquartered in Hong Kong, with an office and our own production facilities in China, we are active in more than 20 countries around the world.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
