description = "Production-We Deliver"

[viewBag]
==

<div class="popup-content container-fluid layout-1 d-none" id="ns" data-index="5">
    <div class="row h-100">
        <div class="col-xl-7 col-md-12 align-self-center">
            <div class="left-content">
                <img class="home-popup-img" data-target="ns" src=" {{ 'productions/NS_animation_resize.gif'|media }} " alt="">
                <img class="home-popup-bg" data-target="ns" src=" {{ 'productions/NS_animation_v2_resized.png'|media }} " alt="">
            </div>
        </div>
        <div class="col-xl-4 col-md-12">
            <div class="right-content">
                <div class="popup-title font-homenaje"><p>Deliver</p></div>
                <div class="popup-section-content font-lato"><p>Splendid Solutions works closely with their customers to meet their individual needs. With our in-house design studio, our own packaging production facility and a global supplier portfolio we have the ability to innovate, create, source and manufacture most of our customer’s products under the Splendid Solutions ‘roof’. Of course quality and industry standards are important in this process so with our own and 3rd party quality control checks we guarantee the highest standards. With our warehouse & logistics network we are able to deliver your products to every required delivery point in the world.</p></div>
            </div>
        </div>
    </div>
