description = "Production-Facility-plastic"

[viewBag]
==

<div class="facility-content" data-toggle="plastics">
    <div class="facility-map">
        <img src="{{ 'productions/our_facilities/plastic/plastic_map.png'|media }}" alt="">
    </div>
    <div class="facility-product">
        <ul>
            <li><img src="{{ 'productions/our_facilities/plastic/plastic_icon01.png'|media }}" alt=""></li>
            <li><img src="{{ 'productions/our_facilities/plastic/plastic_icon02.png'|media }}" alt=""></li>
            <li><img src="{{ 'productions/our_facilities/plastic/plastic_icon03.png'|media }}" alt=""></li>
            <li><img src="{{ 'productions/our_facilities/plastic/plastic_icon04.png'|media }}" alt=""></li>
            <li><img src="{{ 'productions/our_facilities/plastic/plastic_icon06.png'|media }}" alt=""></li>
        </ul>
    </div>
    <div class="facility-desc font-homenaje">
        <div class="header">Product</div>
        <div class="item">
            <ul>
                <li>Premiums / Toys</li>
                <li>We have worked with all the major licenses and</li>
                <li> made over 1 billion toys inthe last 10 years. </li>
            </ul>
        </div>
        <div class="sub-header">Founded: 2004</div>
        <div class="sub-header">Number of employees : 250</div>
    </div>
</div>