description = "Production-Facility-luggage"

[viewBag]
==

<div class="facility-content" data-toggle="luggage">
    <div class="facility-map">
        <img src="{{ 'productions/our_facilities/luggage/luggage_map.png'|media }}" alt="">
    </div>
    <div class="facility-product">
        <ul>
            <li><img src="{{ 'productions/our_facilities/luggage/luggage_icon01.png'|media }}" alt=""></li>
            <li><img src="{{ 'productions/our_facilities/luggage/luggage_icon03.png'|media }}" alt=""></li>
            <li><img src="{{ 'productions/our_facilities/luggage/luggage_icon04.png'|media }}" alt=""></li>
            <li><img src="{{ 'productions/our_facilities/luggage/luggage_icon05.png'|media }}" alt=""></li>
            <li><img src="{{ 'productions/our_facilities/luggage/luggage_icon06.png'|media }}" alt=""></li>
        </ul>
    </div>
    <div class="facility-desc font-homenaje">
        <div class="header">Product</div>
        <div class="item">
            <ul>
                <li>Trolley cases / Suitcase (soft and hard case)</li>
                <li> / Travel bags /Backpack / Cosmetic bags </li>
                <li>/ Golf bags / Promotional bags</li>
            </ul>
        </div>
        <div class="sub-header">Founded: 2004</div>
        <div class="sub-header">Number of employees : 600</div>
    </div>
</div>