description = "Production-Facilities-video-frame"

[viewBag]
==

<div class="facilities-frame">
    <div class="facilities-hint"><img src="{{ 'productions/click_hint.png'|media }}" /></div>
    <svg version="2.0" id="Frame" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        y="0px" viewBox="0 0 1434 900" style="enable-background:new 0 0 1434 900; width:100%; height:100%;" xml:space="preserve"
        preserveAspectRatio="none">
        <g class="ware">
            <polygon class="poly-stroke-2" points="167,5.9 -0.5,5.9 -84.3,151 -0.5,296.1 167,296.1 250.7,151" />
            <defs>
                <pattern id="ware-bg" x="0" y="0" width="1" height="1">
                    <image width="400" height="300" xlink:href="{{ 'productions/ware.jpg'|media }}" style="transform: translateX(-65px);"></image>
                </pattern>
            </defs>
            <polygon id="ware-block" class="hex-block" points="167,5.9 -0.5,5.9 -84.3,151 -0.5,296.1 167,296.1 250.7,151"
                fill="url('#ware-bg')" />
            <g class="mask-content" id="ware" data-time="26">
                <polygon class="mask" points="167,5.9 -0.5,5.9 -84.3,151 -0.5,296.1 167,296.1 250.7,151" />
                <text class="block-text" id="ware-text" x="0" y="100">
                    <tspan x="30" dy="1.2em">Chinaware &</tspan>
                    <tspan x="30" dy="1.2em">Kitchenware</tspan>
                </text>
            </g>
        </g>

        <g class="luggage">
            <polygon class="poly-stroke-2" points="167,606.5 -0.5,606.5 -84.3,751.6 -0.5,896.6 167,896.6 250.7,751.6" />
            <defs>
                <pattern id="luggage-bg" x="0" y="0" width="1" height="1">
                    <image width="500" height="312" xlink:href="{{ 'productions/luggage.jpg'|media }}" style="transform: translateX(5px);"></image>
                </pattern>
            </defs>
            <polygon id="luggage-block" class="hex-block" points="167,606.5 -0.5,606.5 -84.3,751.6 -0.5,896.6 167,896.6 250.7,751.6"
                fill="url('#luggage-bg')" />
            <g class="mask-content" id="luggage" data-time="35">
                <polygon class="mask" points="167,606.5 -0.5,606.5 -84.3,751.6 -0.5,896.6 167,896.6 250.7,751.6" />
                <text class="block-text" id="plastics-text" x="70" y="765">Luggage</text>
            </g>
        </g>

        <g class="fabric-plush">
            <polygon class="poly-stroke-1" points="199.2,279.2 0.2,279.2 -99.3,451.6 0.2,623.9 199.2,623.9 298.7,451.6" />
            <defs>
                <pattern id="fabric-plush-bg" x="0" y="0" width="1" height="1">
                    <image width="600" height="400" xlink:href="{{ 'productions/fabric-plush.jpg'|media }}" style="transform: translateX(10px);"></image>
                </pattern>
            </defs>
            <polygon id="fabric-plush-block" class="hex-block" points="199.2,279.2 0.2,279.2 -99.3,451.6 0.2,623.9 199.2,623.9 298.7,451.6"
                fill="url('#fabric-plush-bg')" />
            <g class="mask-content" id="fabric-plush" data-time="43">
                <polygon class="mask" points="199.2,279.2 0.2,279.2 -99.3,451.6 0.2,623.9 199.2,623.9 298.7,451.6" />
                <text class="block-text" id="plastics-text" x="30" y="470">Fabric & Plush</text>
            </g>
        </g>

        <g class="packing">
            <polygon class="poly-stroke-2" points="1267.5,606.5 1435,606.5 1518.7,751.6 1435,896.6 1267.5,896.6 1183.7,751.6" />
            <defs>
                <pattern id="packing-bg" x="0" y="0" width="1" height="1">
                    <image width="450" height="338" xlink:href="{{ 'productions/packing.jpg'|media }}" style="transform: translateX(-100px);"></image>
                </pattern>
            </defs>
            <polygon id="packing-block" class="hex-block" points="1267.5,606.5 1435,606.5 1518.7,751.6 1435,896.6 1267.5,896.6 1183.7,751.6"
                fill="url('#packing-bg')" />
            <g class="mask-content" id="packing" data-time="11">
                <polygon class="mask" points="1267.5,606.5 1435,606.5 1518.7,751.6 1435,896.6 1267.5,896.6 1183.7,751.6" />
                <text class="block-text" id="packing-text" x="0" y="700">
                    <tspan x="1245" dy="1.2em">Cardboard &</tspan>
                    <tspan x="1245" dy="1.2em">Paperpacking</tspan>
                </text>
            </g>
        </g>
        <g class="garment">
            <polygon class="poly-stroke-2" points="1267.5,5.9 1435,5.9 1518.7,151 1435,296.1 1267.5,296.1 1183.7,151" />
            <defs>
                <pattern id="garment-bg" x="0" y="0" width="1" height="1">
                    <image width="450" height="314" xlink:href="{{ 'productions/garment.png'|media }}" style="transform: translateX(-100px);"></image>
                </pattern>
            </defs>
            <polygon id="garment-block" class="hex-block" points="1267.5,5.9 1435,5.9 1518.7,151 1435,296.1 1267.5,296.1 1183.7,151"
                fill="url('#garment-bg')" />
            <g class="mask-content" id="garment" data-time="52">
                <polygon class="mask" points="1267.5,5.9 1435,5.9 1518.7,151 1435,296.1 1267.5,296.1 1183.7,151" />
                <text class="block-text" id="garment-text" x="1277" y="165">Garment</text>
            </g>
        </g>

        <g class="plastics">
            <polygon class="poly-stroke-1" points="1235.2,279.2 1434.2,279.2 1533.7,451.6 1434.2,623.9 1235.2,623.9 1135.7,451.6" />
            <defs>
                <pattern id="plastics-bg" x="0" y="0" width="1" height="1">
                    <image width="600" height="355" xlink:href="{{ 'productions/plastics.png'|media }}" style="transform: translateX(-150px);"></image>
                </pattern>
            </defs>
            <polygon id="plastics-block" class="hex-block" points="1235.2,279.2 1434.2,279.2 1533.7,451.6 1434.2,623.9 1235.2,623.9 1135.7,451.6"
                fill="url('#plastics-bg')" />
            <g class="mask-content" id="plastics" data-time="19">
                <polygon class="mask" points="1235.2,279.2 1434.2,279.2 1533.7,451.6 1434.2,623.9 1235.2,623.9 1135.7,451.6" />
                <text class="block-text" id="plastics-text" x="1277" y="470">Plastics</text>
            </g>
        </g>
    </svg>
</div>