description = "Production-Facility-fabrics"

[viewBag]
==

<div class="facility-content" data-toggle="fabric-plush">
    <div class="facility-map">
        <img src="{{ 'productions/our_facilities/fabrics/fabrics_map.png'|media }}" alt="">
    </div>
    <div class="facility-product">
        <ul>
            <li><img src="{{ 'productions/our_facilities/fabrics/fabrics_icon02.png'|media }}" alt=""></li>
            <li><img src="{{ 'productions/our_facilities/fabrics/fabrics_icon03.png'|media }}" alt=""></li>
            <li><img src="{{ 'productions/our_facilities/fabrics/fabrics_icon04.png'|media }}" alt=""></li>
            <li><img src="{{ 'productions/our_facilities/fabrics/fabrics_icon05.png'|media }}" alt=""></li>
            <li><img src="{{ 'productions/our_facilities/fabrics/fabrics_icon06.png'|media }}" alt=""></li>
        </ul>
    </div>
    <div class="facility-desc font-homenaje">
        <div class="header">Product</div>
        <div class="item">
            <ul>
                <li>Plush Toys / Fabrics </li>
                <li>/ Promotional giveaways </li>
            </ul>
        </div>
        <div class="sub-header">Founded: 2006</div>
        <div class="sub-header">Number of employees : 1100</div>
    </div>
</div>