description = "Production-Facility-cuboard"

[viewBag]
==

<div class="facility-content" data-toggle="packing">
    <div class="facility-map">
        <img src="{{ 'productions/our_facilities/cupboard/cupboard_map.png'|media }}" alt="">
    </div>
    <div class="facility-product">
        <ul>
            <li><img src="{{ 'productions/our_facilities/cupboard/cupboard_icon01.png'|media }}" alt=""></li>
            <li><img src="{{ 'productions/our_facilities/cupboard/cupboard_icon02.png'|media }}" alt=""></li>
            <li><img src="{{ 'productions/our_facilities/cupboard/cupboard_icon03.png'|media }}" alt=""></li>
            <li><img src="{{ 'productions/our_facilities/cupboard/cupboard_icon04.png'|media }}" alt=""></li>
            <li><img src="{{ 'productions/our_facilities/cupboard/cupboard_icon05.png'|media }}" alt=""></li>
        </ul>
    </div>
    <div class="facility-desc font-homenaje">
        <div class="header">Product</div>
        <div class="item">
            <ul>
                <li>Consumer retail Products</li>
                <li>/ Graphic art products & design /</li>
                <li>Industrial products & design / POS materials/</li>
                <li>Food contact packaging (heatable and non-heatable)</li>
            </ul>
        </div>
        <div class="sub-header">Founded: 2008</div>
        <div class="sub-header">Number of employees : 48</div>
    </div>
</div>