description = "Production-Facility-garment"

[viewBag]
==

<div class="facility-content" data-toggle="garment">
    <div class="facility-map">
        <img src="{{ 'productions/our_facilities/garment/garment_map.png'|media }}" alt="">
    </div>
    <div class="facility-product">
        <ul>
            <li><img src="{{ 'productions/our_facilities/garment/garment_icon01.png'|media }}" alt=""></li>
            <li><img src="{{ 'productions/our_facilities/garment/garment_icon02.png'|media }}" alt=""></li>
            <li><img src="{{ 'productions/our_facilities/garment/garment_icon03.png'|media }}" alt=""></li>
            <li><img src="{{ 'productions/our_facilities/garment/garment_icon04.png'|media }}" alt=""></li>
            <li><img src="{{ 'productions/our_facilities/garment/garment_icon06.png'|media }}" alt=""></li>
        </ul>
    </div>
    <div class="facility-desc font-homenaje">
        <div class="header">Product</div>
        <div class="item">
            <ul>
                <li>Men’s wear / Women’s wear </li>
                <li>/ Children’s wear / Sportswear / Knitting</li>
                <li>/ Dyeing / Printing / Finishing</li>
            </ul>
        </div>
        <div class="sub-header">Founded: 2007</div>
        <div class="sub-header">Number of employees : 1240</div>
    </div>
</div>