description = "Production-OurFacilities"

[viewBag]
==
{% put styles %}
    <link href="{{ 'assets/css/production-facilities.css'|theme }}" rel="stylesheet">
{% endput %}
<section id="facilities">
    <div class="facilities">
        <div class="desktop-view">
            {% partial "productions/facilities-video-frame" %}
            <div class="facilities-video">
                <video muted playsinline>
                    <source src="{{ 'productions/our_facilities_video_v1.mp4'|media }}" type="video/mp4">
                </video>
                <div class="video-control">
                    <ul>
                        <li><img id="play" class="dim" src="{{ 'productions/play.png'|media }}" /></li>
                        <li><img id="replay" class="dim" src="{{ 'productions/replay.png'|media }}" /></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mobile-view">
            <div class="container-fluid mobile-header">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="title text-uppercase font-homenaje">
                            <p>Facilitites</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="facilities-card-container">
                <div class="facilities-card">
                    <div class="card-image">
                        <img src="{{ 'productions/packing_m.png'|media }}" alt="">
                    </div>
                    <div class="card-content font-lato">
                        <div class="product">
                            <p><b>Products</b></p>
                            <p>Consumer retail Products</p>
                            <p>Food contact packaging(heatable and non-heatable)</p>
                            <p>Graphic art products & design</p>
                            <p>Industrial products & design</p>
                            <p>POS materials</p>
                        </div>
                        <br>
                        <p><b>Founded</b>: 2005</p>
                        <p><b>Number of employees</b>: 48</p>
                    </div>
                </div>
                <div class="facilities-card">
                    <div class="card-image">
                        <img src="{{ 'productions/plastics_m.png'|media }}" alt="">
                    </div>
                    <div class="card-content font-lato">
                        <div class="product">
                            <p><b>Products</b></p>
                            <p>Premiums</p>
                            <p>Toys</p>
                            <p>We have worked with all the major licenses and made over 1 billion toys in the last 10years.</p>
                        </div>
                        <br>
                        <p><b>Founded</b>: 2004</p>
                        <p><b>Number of employees</b>: 350</p>
                    </div>
                </div>
                <div class="facilities-card">
                    <div class="card-image">
                        <img src="{{ 'productions/ware_m.png'|media }}" alt="">
                    </div>
                    <div class="card-content font-lato">
                        <div class="product">
                            <p><b>Products</b></p>
                            <p>Glass</p>
                            <p>Chinaware</p>
                            <p>Ceramics</p>
                            <p>Porcelain</p>
                            <p>Flatware</p>
                            <p>Kitchen applicance</p>
                        </div>
                        <br>
                        <p><b>Founded</b>: 2007</p>
                        <p><b>Number of employees</b>: 420</p>
                    </div>
                </div>
                <div class="facilities-card">
                    <div class="card-image">
                        <img src="{{ 'productions/luggage_m.png'|media }}" alt="">
                    </div>
                    <div class="card-content font-lato">
                        <div class="product">
                            <p><b>Products</b></p>
                            <p>Trolley cases</p>
                            <p>Suitcase(soft and hard case)</p>
                            <p>Travel bags</p>
                            <p>Backpack</p>
                            <p>Cosmetic bags</p>
                            <p>Golf bags</p>
                        </div>
                        <br>
                        <p><b>Founded</b>: 2004</p>
                        <p><b>Number of employees</b>: 600</p>
                    </div>
                </div>
                <div class="facilities-card">
                    <div class="card-image">
                        <img src="{{ 'productions/fabric-plush_m.png'|media }}" alt="">
                    </div>
                    <div class="card-content font-lato">
                        <div class="product">
                            <p><b>Products</b></p>
                            <p>Plush Toys</p>
                            <p>Fabrics</p>
                            <p>Promotional giveaways</p>
                        </div>
                        <br>
                        <p><b>Founded</b>: 2006</p>
                        <p><b>Number of employees</b>: 1100</p>
                    </div>
                </div>
                <div class="facilities-card">
                    <div class="card-image">
                        <img src="{{ 'productions/garment_m.png'|media }}" alt="">
                    </div>
                    <div class="card-content font-lato">
                        <div class="product">
                            <p><b>Products</b></p>
                            <p>Men's wear</p>
                            <p>Women's wear</p>
                            <p>Children's wear</p>
                            <p>Sportwear</p>
                            <p>Knitting</p>
                            <p>Dyeing</p>
                            <p>Priting</p>
                            <p>Finishing</p>
                        </div>
                        <br>
                        <p><b>Founded</b>: 2007</p>
                        <p><b>Number of employees</b>: 1240</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
