description = "Production-Facility-kitchenware"

[viewBag]
==

<div class="facility-content" data-toggle="ware">
    <div class="facility-map">
        <img src="{{ 'productions/our_facilities/kitchenware/kitchenware_map.png'|media }}" alt="">
    </div>
    <div class="facility-product">
        <ul>
            <li><img src="{{ 'productions/our_facilities/kitchenware/kitchenware_icon01.png'|media }}" alt=""></li>
            <li><img src="{{ 'productions/our_facilities/kitchenware/kitchenware_icon02.png'|media }}" alt=""></li>
            <li><img src="{{ 'productions/our_facilities/kitchenware/kitchenware_icon03.png'|media }}" alt=""></li>
            <li><img src="{{ 'productions/our_facilities/kitchenware/kitchenware_icon04.png'|media }}" alt=""></li>
            <li><img src="{{ 'productions/our_facilities/kitchenware/kitchenware_icon05.png'|media }}" alt=""></li>
        </ul>
    </div>
    <div class="facility-desc font-homenaje">
        <div class="header">Product</div>
        <div class="item">
            <ul>
                <li>Glass / Chinaware / Ceramics</li>
                <li>/ Porcelain / Flatware</li>
                <li>/ Kitchen applicance</li>
            </ul>
        </div>
        <div class="sub-header">Founded: 2007</div>
        <div class="sub-header">Number of employees : 420</div>
    </div>
</div>