description = "Productions-header"

[viewBag]
==
{% if this.environment == 'production' %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126213464-3"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-126213464-3');
</script>
{% endif %}

<nav>

    <!-- <img class="home-logo" src="{{ 'productions/logo.png'|media }}" /> -->
    <!-- <div class="follow-us">
        <span class="span-follow-us font-lato">Follow us on</span>
        <a href="#"><img class="followus-icon" src="{{ 'productions/facebook.png'|media }}" /></a>
        <a href="#"><img class="followus-icon" src="{{ 'productions/twitter.png'|media }}" /></a>
        <a href="#"><img class="followus-icon" src="{{ 'productions/instagram.png'|media }}" /></a>
        <a href="#"><img class="followus-icon" src="{{ 'productions/pinterest.png'|media }}" /></a>
        <a href="#"><img class="followus-icon" src="{{ 'productions/linkedin.png'|media }}" /></a>
    </div> -->
    <!-- <input type="checkbox" id="nav" class="d-none">
    <label for="nav" class="nav-btn">
        <i></i>
        <i></i>
        <i></i>
    </label> -->
    <img class="home-logo" src="{{ 'productions/logo.png'|media }}" alt="">
    <ul class="nav-right-menu text-uppercase">
        <li class="opt menu-item" id="home">Home</li>
        <li class="opt menu-item" id="fact-sheet">Facts</li>
        <li class="opt menu-item" id="design">Design</li>
        <li class="opt menu-item" id="products">Our Products</li>
        <li class="opt menu-item" id="facilities">Our Facility</li>
        <li class="opt menu-item" id="our-network">Our Network</li>
        <li class="opt menu-item" id="quality">Quality & Safety</li>
        <li class="opt menu-item" id="sustainability">Sustainability</li>
        <li class="opt menu-item" id="news">News</li>
        <li class="opt menu-item" id="contactus">contact</li>
    </ul>
    <!--  hamburger Icon -->
    <div id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
