description = "Productions-header"

[viewBag]
==
<nav>

    <img class="home-logo" src="{{ 'productions/logo.png'|media }}" />
    <div class="follow-us">
        <span class="span-follow-us font-lato">Follow us on</span>
        <a href="#"><img class="followus-icon" src="{{ 'productions/facebook.png'|media }}" /></a>
        <a href="#"><img class="followus-icon" src="{{ 'productions/twitter.png'|media }}" /></a>
        <a href="#"><img class="followus-icon" src="{{ 'productions/instagram.png'|media }}" /></a>
        <a href="#"><img class="followus-icon" src="{{ 'productions/pinterest.png'|media }}" /></a>
        <a href="#"><img class="followus-icon" src="{{ 'productions/linkedin.png'|media }}" /></a>
    </div>
    <!-- <input type="checkbox" id="nav" class="d-none">
    <label for="nav" class="nav-btn">
        <i></i>
        <i></i>
        <i></i>
    </label> -->
    <div id="nav-icon">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
</nav>
