description = "Production-home"

[viewBag]
==
{% put styles %}
    <link href="{{ 'assets/css/production-home.css'|theme }}" rel="stylesheet">
{% endput %}
<section id="home">
    <div class="home">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-md-6">
                    <div class="left-content">
                        <div class="title text-uppercase font-homenaje">
                            <p>People On the Move</p>
                        </div>
                        <div class="sub-title text-uppercase font-homenaje">
                            <p>We can make anthing possible!</p>
                        </div>
                        <br>
                        <div class="home-content font-lato">
                            <p>Splendid Solutions’ driven approach aims to improve the quality and consistency of what is offered to today’s traveler. We offer a wide range of services, from appealing, custom made products to end to end warehouse and logistics solutions.</p>
                            <p>We have established the solution for ‘People on the Move’, which includes product development, design, manufacturing, sourcing, packaging and delivery to the end user. Our employees are passionate with a keen awareness of current culinary high street trends and will work with you to understand better what your customer wants.  With our proactive approach of new trends in combination with your needs we can make anything possible.</p>
                            <p>So whether you need a salad in a box, hot snack, full meal service or a bespoke door to door service solution, you can depend on Splendid Solutions for an efficient, cost-conscious and partner-focused collaboration.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="right-content">
                        <img class="img-home-gif" src="{{ 'productions/home-n.gif'|media }}" usemap="#image-map">

                        <map name="image-map">
                            <area class="home-pin" id="home-pro-pin" data-toggle="pro" data-index="1" coords="436,169,525,117,593,157,612,275,728,329,774,297,788,236,895,252,895,459,778,481,697,468,625,442,591,462,546,442,484,365,435,339,431,206" shape="poly">
                            <img src="{{ 'productions/come_together.png'|media }}">
                            <area class="home-pin" id="home-du-pin" data-toggle="du" data-index="2" coords="98,271,204,213,260,245,245,308,311,366,316,453,364,435,366,366,418,353,438,380,452,416,503,487,499,552,369,668,163,654,137,631,77,595,68,375,115,344" shape="poly">
                            <img src="{{ 'productions/design_n_innovate.png'|media }}">
                            <area class="home-pin" id="home-ct-pin" data-toggle="ct" data-index="3" coords="610,451,563,470,538,512,473,586,445,669,520,726,547,772,596,825,620,836,691,810,828,776,864,758,863,687,705,474,653,455" shape="poly">
                            <img src="{{ 'productions/produce.png'|media }}">
                            <area class="home-pin" id="home-io-pin" data-toggle="io" data-index="4" coords="94,605,53,629,50,750,0,784,51,834,52,849,87,868,117,877,140,856,149,920,229,955,294,948,351,976,392,953,368,858,331,792,328,714,235,676,154,705,128,628" shape="poly">
                            <img src="{{ 'productions/oversee.png'|media }}">
                            <area class="home-pin" id="home-ns-pin" data-toggle="ns" data-index="5" coords="398,773,447,745,631,851,656,919,697,992,733,1042,633,1099,574,1090,501,1073,452,1049,398,1018" shape="poly">
                            <img src="{{ 'productions/deliver.png'|media }}">
                        </map>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% partial "productions/news-popup" %}
    <div class="home-popup" id="popup-bg">
        <div class="popup-base base-bg">
            <div class="close-container"><img class="close" src="{{ 'productions/cross.png'|media }}" /></div>
            <div class="popup-arrow" id="left-arrow" toggle="" target=""><img src="{{ 'productions/left_arrow.png'|media }}"/></div>
            <div class="popup-arrow" id="right-arrow"toggle="" target=""><img src="{{ 'productions/right_arrow.png'|media }}"/></div>
            {% partial "productions/come-together" %}
            {% partial "productions/design-and-innovation" %}
            {% partial "productions/produce" %}
            {% partial "productions/oversea" %}
            {% partial "productions/deliver" %}
        </div>
    </div>
</section>
