description = "Production-home"

[viewBag]

[Agent]
==
{% put styles %}
    <link href="{{ 'assets/css/production-home.css'|theme }}" rel="stylesheet">
{% endput %}
{% partial "productions/welcome" %}
<section id="home">
    <div class="home">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 col-md-6" id="text-part">
                    <div class="left-content">
                        <div class="title text-uppercase font-homenaje">
                            <p>Splendid Productions</p>
                        </div>
                        <div class="sub-title text-uppercase font-homenaje">
                            <p>WE MAKE ANYTHING POSSIBLE</p>
                        </div>
                        <br>
                        <div class="home-content font-lato">
                            <p>Splendid Productions is a consumer goods design, development, production, and logistics company serving major retailers and brands around the world. As a group we are major share holder in different production facilities, this to ensure the highest quality and services for our customers. With our team of experts we try to make anything possible.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-md-6" id="gif-part">
                    <div class="right-content">
                        <div class="pin-hints">
                            <img src="{{ 'productions/mouseover_hint.png'|media }}" alt="">
                        </div>
                        {% if Agent.isDesktop() %}
                            <!-- <img class="img-home-gif dimmed" data-bg="pro" src="{{ 'productions/PRO_animation_dimmed.gif'|media }}" >
                            <img class="img-home-gif dimmed" data-bg="du" src="{{ 'productions/DU_animation_dimmed.gif'|media }}" >
                            <img class="img-home-gif dimmed" data-bg="ct" src="{{ 'productions/CT_animation_dimmed.gif'|media }}" >
                            <img class="img-home-gif dimmed" data-bg="io" src="{{ 'productions/IO_animation_dimmed.gif'|media }}" >
                            <img class="img-home-gif dimmed" data-bg="ns" src="{{ 'productions/NS_animation_dimmed.gif'|media }}" > -->
                        {% endif %}
                        <!-- <div class="img-home-gif dimmed" data-bg="io"></div> -->
                        <!-- <div class="img-home-gif-mask" data-hover="default">
                            <div class="mask img-home-gif-io"></div>
                        </div> -->
                        {% if Agent.isDesktop() %}
                            <img class="img-home-gif" id="main" src="{{ 'productions/home-n.gif'|media }}" usemap="#image-map">
                        {% else %}
                            <img class="img-home-gif" id="main" src="{{ 'productions/home-n_m.png'|media }}" usemap="#image-map">
                        {% endif %}
                        <map name="image-map">
                            <area class="home-pin" id="home-pro-pin" data-toggle="pro" data-index="1" coords="436,169,525,117,593,157,612,275,728,329,774,297,788,236,895,252,895,459,778,481,697,468,625,442,591,462,546,442,484,365,435,339,431,206" shape="poly">
                            <img src="{{ 'productions/come_together.png'|media }}">
                            <area class="home-pin" id="home-du-pin" data-toggle="du" data-index="2" coords="98,271,204,213,260,245,245,308,311,366,316,453,364,435,366,366,418,353,438,380,452,416,503,487,499,552,369,668,163,654,137,631,77,595,68,375,115,344" shape="poly">
                            <img src="{{ 'productions/design_n_innovate.png'|media }}">
                            <area class="home-pin" id="home-ct-pin" data-toggle="ct" data-index="3" coords="610,451,563,470,538,512,473,586,445,669,520,726,547,772,596,825,620,836,691,810,828,776,864,758,863,687,705,474,653,455" shape="poly">
                            <img src="{{ 'productions/produce.png'|media }}">
                            <area class="home-pin" id="home-io-pin" data-toggle="io" data-index="4" coords="94,605,53,629,50,750,0,784,51,834,52,849,87,868,117,877,140,856,149,920,229,955,294,948,351,976,392,953,368,858,331,792,328,714,235,676,154,705,128,628" shape="poly">
                            <img src="{{ 'productions/oversee.png'|media }}">
                            <area class="home-pin" id="home-ns-pin" data-toggle="ns" data-index="5" coords="398,773,447,745,631,851,656,919,697,992,733,1042,633,1099,574,1090,501,1073,452,1049,398,1018" shape="poly">
                            <img src="{{ 'productions/deliver.png'|media }}">
                        </map>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pin-tooltip-container">
        <div class="tooltip-content">
            <div class="title text-uppercase font-homenaje">
                <p id="tooltip-title"></p>
            </div>
            <div class="content font-lato">
                <p id="tooltip-content"></p>
            </div>
        </div>
    </div>
    <!-- {% partial "productions/news-popup" %} -->
    {% if Agent.isPhone() %}
    <div class="home-popup" id="popup-bg">
        <div class="popup-base base-bg" id="home-block-popup" data-index="">
            <div class="close-container"><img class="close" src="{{ 'productions/cross.png'|media }}" /></div>
            <!-- <div class="popup-arrow" id="left-arrow" toggle="" target=""><img src="{{ 'productions/left_arrow.png'|media }}"/></div>
            <div class="popup-arrow" id="right-arrow"toggle="" target=""><img src="{{ 'productions/right_arrow.png'|media }}"/></div> -->
            {% partial "productions/come-together" %}
            {% partial "productions/designInnovation" %}
            {% partial "productions/produce" %}
            {% partial "productions/oversea" %}
            {% partial "productions/deliver" %}
        </div>
    </div>
    {% endif %}
</section>
