description = "Production-home"

[viewBag]
==
{% put styles %}
    <link href="{{ 'assets/css/production-home.css'|theme }}" rel="stylesheet">
{% endput %}
<section id="home">
    <div class="home">
        <div class="container">
            <div class="row">
                <div class="col left-content">
                    <div class="title font-homenaje">
                        <p>People On the Move</p>
                    </div>
                    <div class="sub-title font-homenaje">
                        <p>We can make anthing possible!</p>
                    </div>
                    <br>
                    <div class="home-content font-lato">
                        <p>We can make anthing possible!We can make anthing possible!We can make anthing possible!We can make anthing possible!We can make anthing possible!We can make anthing possible!We can make anthing possible!We can make anthing possible!</p>
                        <p>We can make anthing possible!We can make anthing possible!We can make anthing possible!We can make anthing possible!We can make anthing possible!We can make anthing possible!We can make anthing possible!We can make anthing possible!</p>
                        <p>We can make anthing possible!We can make anthing possible!We can make anthing possible!We can make anthing possible!We can make anthing possible!We can make anthing possible!We can make anthing possible!We can make anthing possible!</p>
                    </div>
                </div>
                <div class="col right-content">
                    <div class="home-gif">
                        <img src="{{ 'productions/home-n.gif'|media }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% partial "productions/come-together" %}
</section>