description = "Production-menu"

[viewBag]
==
{% put styles %}
    <link href="{{ 'assets/css/common-bubble-menu.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/common-side-menu.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/productions-menu.css'|theme }}" rel="stylesheet">
{% endput %}
<!-- <div class="hints">
    <img src="{{ 'productions/menu_hint.png'|media }}" alt="">
</div>
<div class="bubble-menu font-lato">
    <div class="opt active home-opt" id="home"><label>Home</label><div class="bullet" id="home"></div></div>
    <div class="opt design-opt" id="design"><label>Design</label><div class="bullet" id="design"></div></div>
    <div class="opt facilities-opt" id="facilities"><label>Our Facility</label><div class="bullet" id="facilities"></div></div>
    <div class="opt quality-content-opt" id="quality"><label>Quality & Safety</label><div class="bullet" id="quality"></div></div>
    <div class="opt sustainability-opt" id="sustainability"><label>Sustainability</label><div class="bullet" id="sustainability"></div></div>
    <div class="opt news-opt" id="news"><label>News</label><div class="bullet"  id="news"></div></div>
    <div class="opt contact-us-opt" id="contactus"><label>Contact Us</label><div class="bullet" id="contactus"></div></div>
</div> -->
<div class="side-wrapper font-lato">
    <ul>
        <li><a id="home">Home</a></li>
        <li><a id="fact-sheet">Facts</a></li>
        <li><a id="design">Design</a></li>
        <li><a id="products">Our Products</a></li>
        <li><a id="facilities">Our Facility</a></li>
        <li><a id="quality">Quality & Safety</a></li>
        <li><a id="sustainability">Sustainability</a></li>
        <li><a id="news">News</a></li>
        <li><a id="contactus">Contact Us</a></li>
    </ul>
</div>
