description = "Production-News details"

[viewBag]
==
{% put styles %}
    <link href="{{ 'assets/css/production-news.css'|theme }}" rel="stylesheet">
{% endput %}
<section id="news">
    <div class="news">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <ul class="btn-list">
                        <li class="btn-icon" id="back"><a href="../productions"><img style="width:30%" src="{{ 'productions/back_button.png'|media }}" ></a></li>
                    </ul>
                </div>

            </div>
            <div class="news-details row">
                <div class="news-detail-image col-xl-6 col-md-12">
                    <div class="details-hex">
                        <div class="hexIn">
                            <a class="hexLink" href="#">
                                <img class="hex-main" src=" {{ newsInfo.news_image|media }} " alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="news-detail-content col-xl-4 col-md-12">
                    <div class="title font-homenaje">{{ newsInfo.title }}</div>
                    <div class="content font-lato">{{ newsInfo.content | raw }}</div>
                    <br>
                </div>
            </div>
        </div>
        <div class="news-list-more">
            {% for record in coreList.records %}
                <div class="details-hex-more">
                    <div class="hexIn">
                        <a class="hexLink" href="{{ record.id }}">
                            <img class="hex-main" src="{{ record.news_image_thumbnail|media }}" alt="" />
                        </a>
                    </div>
                </div>
            {% endfor %}
            <!-- {% for record in coreList.records %}
                <div class="details-hex-more">
                    <div class="hexIn">
                        <a class="hexLink" href="{{ record.id }}">
                            <img class="hex-main" src="{{ record.news_image_thumbnail|media }}" alt="" />
                        </a>
                    </div>
                </div>
            {% endfor %}
            {% for record in coreList.records %}
                <div class="details-hex-more">
                    <div class="hexIn">
                        <a class="hexLink" href="{{ record.id }}">
                            <img class="hex-main" src="{{ record.news_image_thumbnail|media }}" alt="" />
                        </a>
                    </div>
                </div>
            {% endfor %}
            {% for record in coreList.records %}
                <div class="details-hex-more">
                    <div class="hexIn">
                        <a class="hexLink" href="{{ record.id }}">
                            <img class="hex-main" src="{{ record.news_image_thumbnail|media }}" alt="" />
                        </a>
                    </div>
                </div>
            {% endfor %}
            {% for record in coreList.records %}
                <div class="details-hex-more">
                    <div class="hexIn">
                        <a class="hexLink" href="{{ record.id }}">
                            <img class="hex-main" src="{{ record.news_image_thumbnail|media }}" alt="" />
                        </a>
                    </div>
                </div>
            {% endfor %}
            {% for record in coreList.records %}
                <div class="details-hex-more">
                    <div class="hexIn">
                        <a class="hexLink" href="{{ record.id }}">
                            <img class="hex-main" src="{{ record.news_image_thumbnail|media }}" alt="" />
                        </a>
                    </div>
                </div>
            {% endfor %} -->
        </div>
    </div>
</section>
