description = "Production-News"

[viewBag]
==

{% put styles %}
    <link href="{{ 'assets/css/production-news.css'|theme }}" rel="stylesheet">
{% endput %}
<section id="news">
    <div class="news">
        <div class="container-fluid">
            <div class="row news-desc">
                <div class="col-xl-3">
                    <div class="title text-uppercase font-homenaje">
                        <p>News</p>
                    </div>
                    <div class="news-desc-content font-lato">
                        <p>We recognize that the way in which we operate has an impact on the environment and are committed to integrating sustainability best practices into our decision-making and business activities worldwide. We invest in new production techniques and materials to offer clients a better sustainable alternative to what is currently available in the marketplace. Our strategy is comprised of the following 3 pillars.</p>
                    </div>
                </div>
                <div class="col-xl-9 news-list">
                    <ul id="hexGrid">
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm7.staticflickr.com/6217/6216951796_e50778255c.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm7.staticflickr.com/6083/6055581292_d94c2d90e3.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm4.staticflickr.com/3766/12953056854_b8cdf14f21.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm7.staticflickr.com/6139/5986939269_10721b8017.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm4.staticflickr.com/3165/5733278274_2626612c70.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm8.staticflickr.com/7163/6822904141_50277565c3.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm4.staticflickr.com/3771/13199704015_72aa535bd7.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm7.staticflickr.com/6083/6055581292_d94c2d90e3.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm3.staticflickr.com/2878/10944255073_973d2cd25c.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm7.staticflickr.com/6217/6216951796_e50778255c.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm7.staticflickr.com/6083/6055581292_d94c2d90e3.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm4.staticflickr.com/3766/12953056854_b8cdf14f21.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm7.staticflickr.com/6139/5986939269_10721b8017.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm4.staticflickr.com/3165/5733278274_2626612c70.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm8.staticflickr.com/7163/6822904141_50277565c3.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm4.staticflickr.com/3771/13199704015_72aa535bd7.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm7.staticflickr.com/6083/6055581292_d94c2d90e3.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm3.staticflickr.com/2878/10944255073_973d2cd25c.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <img src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt="" />
                            <h1>This is a title</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                          </a>
                        </div>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
