description = "Production-News"

[viewBag]
==

{% put styles %}
    <link href="{{ 'assets/css/production-news.css'|theme }}" rel="stylesheet">
{% endput %}
<section id="news">
    <div class="news">
        <div class="container-fluid">
            <div class="row news-desc">
                <div class="col-xl-3 col-md-12">
                    <div class="title text-uppercase font-homenaje">
                        <p>News</p>
                    </div>
                    <div class="news-desc-content font-lato">
                        <p>We recognize that the way in which we operate has an impact on the environment and are committed to integrating sustainability best practices into our decision-making and business activities worldwide. We invest in new production techniques and materials to offer clients a better sustainable alternative to what is currently available in the marketplace. Our strategy is comprised of the following 3 pillars.</p>
                    </div>
                </div>
                <div class="col-xl-9 col-md-12 news-list">
                    <ul id="hexGrid">
                        <li class="hex">
                            <div class="hexIn">
                                <a class="hexLink" href="#">
                                    <img class="hex-main" src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt="" />
                                    <img class="hover-bg" src=" {{ 'productions/news_hex_hover.png'|media }} " alt="" />
                                    <h1 class="font-homenaje">This is a title</h1>
                                </a>
                            </div>
                        </li>
                        <li class="hex">
                            <div class="hexIn">
                                <a class="hexLink" href="#">
                                    <img class="hex-main" src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt="" />
                                    <img class="hover-bg" src=" {{ 'productions/news_hex_hover.png'|media }} " alt="" />
                                    <h1 class="font-homenaje">This is a title</h1>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
