description = "Production-News popup"

[viewBag]
==
<div class="news-popup inactive">
    <div class="popup-base">
        <div class="popup container-fluid">
            <div class="btn-container">
                <span id="btn-close">X</span>
            </div>
            <div class="row">
                <div class="news-popup-content col-xl-4 col-md-4">
                    {% for record in coreList.records %}
                        {% if loop.index <= 4 %}
                            <div class="news-details {% if loop.index != 1 %} d-none {% endif %}">
                                <div class="title font-homenaje text-uppercase">{{ record.title }}</div>
                                <div class="content font-lato">{{ record.content|raw }}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="news-popup-detail-img col-xl-8 col-md-8">
                    {% for record in coreList.records %}
                        {% if loop.index <= 4 %}
                            <div class="news-detail-img news-popup-main-hex details-img-{{loop.index}} {% if loop.index >= 4 %}details-img-hide{% endif %}" data-detail="{{loop.index}}" data-position="{% if loop.index == 1 %}center{% elseif loop.index == 2 %}left{% elseif loop.index == 3 %}right{% else %}hide{% endif %}" img-display="{% if loop.index >= 4 %}0{% else %}1{% endif %}">
                                <div class="hexIn">
                                    <a class="hexLink">
                                        <img class="hex-main" src=" {{record.news_image|media}} " alt="" />
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>
