description = "Production-News"

[viewBag]
==
{% put styles %}
    <link href="{{ 'assets/css/production-news.css'|theme }}" rel="stylesheet">
{% endput %}
<section id="news">
    <div class="news">
        <div class="container-fluid">
            <div class="row news-desc">
                <div class="col-xl-3 col-md-12">
                    <div class="title text-uppercase font-homenaje">
                        <p>News</p>
                    </div>
                    <div class="news-desc-content font-lato">
                        <p>We recognize that the way in which we operate has an impact on the environment and are committed to integrating sustainability best practices into our decision-making and business activities worldwide. We invest in new production techniques and materials to offer clients a better sustainable alternative to what is currently available in the marketplace. Our strategy is comprised of the following 3 pillars.</p>
                    </div>
                </div>
                <div class="col-xl-9 col-md-12 news-list">
                    <ul id="hexGrid">
                    {% for record in coreList.records %}
                    <li class="hex">
                        <div class="hexIn">
                            <a class="hexLink" href="./productions-news/{{record.id}}">
                                <img class="hex-main" src="{{ record.news_image|media }}" alt="" />
                                <img class="hover-bg" src=" {{ 'productions/news_hex_hover.png'|media }} " alt="" />
                                <h1 class="font-homenaje">{{ record.title }}</h1>
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                    {% for record in coreList.records %}
                    <li class="hex">
                        <div class="hexIn">
                            <a class="hexLink" href="./productions-news/{{record.id}}">
                                <img class="hex-main" src="{{ record.news_image|media }}" alt="" />
                                <img class="hover-bg" src=" {{ 'productions/news_hex_hover.png'|media }} " alt="" />
                                <h1 class="font-homenaje">{{ record.title }}</h1>
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                    {% for record in coreList.records %}
                    <li class="hex">
                        <div class="hexIn">
                            <a class="hexLink" href="./productions-news/{{record.id}}">
                                <img class="hex-main" src="{{ record.news_image|media }}" alt="" />
                                <img class="hover-bg" src=" {{ 'productions/news_hex_hover.png'|media }} " alt="" />
                                <h1 class="font-homenaje">{{ record.title }}</h1>
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                    {% for record in coreList.records %}
                    <li class="hex">
                        <div class="hexIn">
                            <a class="hexLink" href="./productions-news/{{record.id}}">
                                <img class="hex-main" src="{{ record.news_image|media }}" alt="" />
                                <img class="hover-bg" src=" {{ 'productions/news_hex_hover.png'|media }} " alt="" />
                                <h1 class="font-homenaje">{{ record.title }}</h1>
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                    {% for record in coreList.records %}
                    <li class="hex">
                        <div class="hexIn">
                            <a class="hexLink" href="./productions-news/{{record.id}}">
                                <img class="hex-main" src="{{ record.news_image|media }}" alt="" />
                                <img class="hover-bg" src=" {{ 'productions/news_hex_hover.png'|media }} " alt="" />
                                <h1 class="font-homenaje">{{ record.title }}</h1>
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
