description = "Production-Our-network-svg"

[viewBag]
==
<svg class="ou-svg" version="2.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 608 619" style="enable-background:new 0 0 608 619;" xml:space="preserve"
preserveAspectRatio="none">
    <style type="text/css">
        .oust0 {
            clip-path: url(#SVGID_2_);
        }

        .oust1 {
            clip-path: url(#SVGID_4_);
        }

        .oust2 {
            clip-path: url(#SVGID_8_);
        }

        .oust3 {
            clip-path: url(#SVGID_10_);
            fill: none;
        }

        .oust4 {
            clip-path: url(#SVGID_14_);
        }

        .oust5 {
            clip-path: url(#SVGID_18_);
        }

        .oust6 {
            clip-path: url(#SVGID_22_);
        }

        .oust7 {
            fill: #53B9CC;
            stroke: #FFFFFF;
            stroke-miterlimit: 10;
        }

        .oust8 {
            opacity: 0.5;
            fill: #53B9CC;
            stroke: #FFFFFF;
            stroke-miterlimit: 10;
        }

        .oust9 {
            fill: #E1E1DE;
        }

        .oust10 {
            fill: #F3F1ED;
        }

        .oust11 {
            fill: #97D7CA;
        }

        .oust12 {
            fill: #408E83;
        }

        .oust13 {
            fill: #75C8B9;
        }

        .oust14 {
            fill: #FFFFFF;
        }

        .oust15 {
            fill: url(#SVGID_25_ou);
        }

        .oust16 {
            fill: url(#SVGID_26_ou);
        }

        .oust17 {
            fill: url(#SVGID_27_ou);
        }

        .oust18 {
            fill: url(#SVGID_28_ou);
        }

        .oust19 {
            fill: url(#SVGID_29_ou);
        }

        .oust20 {
            fill: url(#SVGID_33_ou);
        }

        .oust21 {
            fill: url(#SVGID_31_ou);
        }

        .oust22 {
            fill: url(#SVGID_32_ou);
        }

        .oust23 {
            fill: url(#SVGID_33_ou);
        }

        .oust24 {
            fill: url(#SVGID_34_ou);
        }

        .oust25 {
            fill: url(#SVGID_35_ou);
        }

        .oust26 {
            fill: url(#SVGID_36_ou);
        }

        .oust27 {
            fill: url(#SVGID_37_ou);
        }

        .oust28 {
            fill: url(#SVGID_38_ou);
        }

        .oust29 {
            fill: url(#SVGID_39_ou);
        }

        .oust30 {
            fill: url(#SVGID_40_ou);
        }

        .oust31 {
            fill: url(#SVGID_41_ou);
        }

        .oust32 {
            fill: url(#SVGID_42_ou);
        }

        .oust33 {
            fill: url(#SVGID_43_ou);
        }

        .oust34 {
            fill: url(#SVGID_44_ou);
        }

        .oust35 {
            fill: url(#SVGID_45_ou);
        }
    </style>
    <g>
        <!-- <defs>
            <rect id="SVGID_1_" x="10.8" y="6.5" width="590.5" height="612.3" />
        </defs>
        <clipPath id="SVGID_2_">
            <use xlink:href="#SVGID_1_" style="overflow:visible;" />
        </clipPath> -->
        <g class="oust0">
            <g>
                <g>
                    <g>
                        <defs>
                            <pattern id="ou-factory-bg" x="0" y="0" width="1" height="1">
                                <image width="250" height="200" xlink:href="{{ 'productions/factory1.jpg'|media }}" style="transform: translateY(-45px) translateX(-66px);"></image>
                            </pattern>
                        </defs>
                        <polygon class="hex-facility order4" points="295,338.5 295,283.4 247.3,255.8 199.5,283.4 199.5,338.5 247.3,366.1" fill="url('#ou-factory-bg')" />
                    </g>
                </g>
            </g>
            <g>
                <g>
                    <g>
                        <defs>
                            <pattern id="ou-factory2-bg" x="0" y="0" width="1" height="1">
                                <image width="200" height="200" xlink:href="{{ 'productions/factory2.jpg'|media }}" style="transform: translateY(-45px) translateX(-66px);"></image>
                            </pattern>
                        </defs>
                        <polygon class="hex-facility order2" order="2" points="342.8,421.4 342.8,366.3 295,338.7 247.3,366.3 247.3,421.4 295,449" fill="url('#ou-factory2-bg')" />
                    </g>
                </g>
            </g>
            <g>
                <g>
                    <defs>
                        <pattern id="ou-packing-bg" x="0" y="0" width="1" height="1">
                            <image width="200" height="200" xlink:href="{{ 'productions/packing.jpg'|media }}" style="transform: translateY(-35px) translateX(-40px);"></image>
                        </pattern>
                    </defs>
                        <polygon class="hex-facility order1" order="1" points="342.8,255.7 342.8,200.5 295,172.9 247.3,200.5 247.3,255.7 295,283.3 " fill="url('#ou-packing-bg')" />
                </g>
            </g>
            <g>
                <g>
                    <g>
                        <defs>
                            <pattern id="ou-luggage-bg" x="0" y="0" width="1" height="1">
                                <image width="200" height="200" xlink:href="{{ 'productions/luggage.jpg'|media }}" style="transform: translateY(-35px) translateX(-40px);"></image>
                            </pattern>
                        </defs>
                        <polygon class="hex-facility order6" points="486.1,338.5 486.1,283.4 438.4,255.8 390.6,283.4 390.6,338.5 438.4,366.1 " fill="url('#ou-luggage-bg')" />
                    </g>
                </g>
            </g>
            <g>
                <g>
                    <g>
                        <defs>
                            <pattern id="ou-ware-bg" x="0" y="0" width="1" height="1">
                            <image width="200" height="200" xlink:href="{{ 'productions/ware.jpg'|media }}" style="transform: translateY(-35px) translateX(-40px);"></image>
                            </pattern>
                        </defs>
                        <polygon class="hex-facility order5" points="438.4,421.4 438.4,366.3 390.6,338.7 342.8,366.3 342.8,421.4 390.6,449" fill="url('#ou-ware-bg')" />
                    </g>
                </g>
            </g>
            <g>
                <g>
                    <g>
                        <defs>
                            <pattern id="ou-garment-bg" x="0" y="0" width="1" height="1">
                                <image width="200" height="200" xlink:href="{{ 'productions/garment.png'|media }}" style="transform: translateY(-35px) translateX(-40px);"></image>
                            </pattern>
                        </defs>
                        <polygon class="hex-facility order3" points="438.4,255.7 438.4,200.5 390.6,172.9 342.8,200.5 342.8,255.7 390.6,283.3" fill="url('#ou-garment-bg')" />
                    </g>
                </g>
            </g>
            <polygon class="oust7 order2" points="533.9,255.7 533.9,200.5 486.1,172.9 438.4,200.5 438.4,255.7 486.1,283.3 		" />
            <polygon class="oust7 order6" points="581.8,338.5 581.8,283.4 534,255.8 486.2,283.4 486.2,338.5 534,366.1 		" />
            <polygon class="oust7 order1" points="534,421.4 534,366.3 486.2,338.7 438.4,366.3 438.4,421.4 486.2,449 		" />
            <polygon class="oust7 order9" points="486.2,504.2 486.2,449 438.4,421.5 390.7,449 390.7,504.2 438.4,531.8 		" />
            <polygon class="oust8 order1" points="533.6,587 533.6,531.9 485.8,504.3 438,531.9 438,587 485.8,614.6 		" />
            <polygon class="oust8 order3" points="533.6,90.3 533.6,35.1 485.8,7.6 438,35.1 438,90.3 485.8,117.9 		" />
            <polygon class="oust8 order6" points="247.3,90.3 247.3,35.1 199.5,7.6 151.7,35.1 151.7,90.3 199.5,117.9 		" />
            <polygon class="oust8 order2" points="103.5,173 103.5,117.8 55.7,90.2 7.9,117.8 7.9,173 55.7,200.5 		" />
            <polygon class="oust8 order4" points="630,421.4 630,366.3 582.2,338.7 534.4,366.3 534.4,421.4 582.2,449 		" />
            <polygon class="oust8 order5" points="152.2,587 152.2,531.9 104.4,504.3 56.7,531.9 56.7,587 104.4,614.6 		" />
            <polygon class="oust7 order3" points="390.6,504.2 390.6,449 342.8,421.5 295,449 295,504.2 342.8,531.8 		" />
            <polygon class="oust7 order10" points="295,504.2 295,449 247.3,421.5 199.5,449 199.5,504.2 247.3,531.8 		" />
            <polygon class="oust7 order7" points="247.3,421.4 247.3,366.3 199.5,338.7 151.7,366.3 151.7,421.4 199.5,449 		" />
            <polygon class="oust7 order12" points="199.5,338.5 199.5,283.4 151.7,255.8 103.9,283.4 103.9,338.5 151.7,366.1 		" />
            <polygon class="oust7 order11" points="247.3,255.7 247.3,200.5 199.5,172.9 151.7,200.5 151.7,255.7 199.5,283.3 		" />
            <polygon class="oust7 order4" points="295,173 295,117.8 247.3,90.2 199.5,117.8 199.5,173 247.3,200.5 		" />
            <polygon class="oust7 order8" points="390.6,173 390.6,117.8 342.8,90.2 295,117.8 295,173 342.8,200.5 		" />
            <polygon class="oust7 order5" points="486.1,173 486.1,117.8 438.4,90.2 390.6,117.8 390.6,173 438.4,200.5 		" />
            <g class="sp-logo"> 
                <polygon class="oust9" points="342.3,303.4 366.2,291.4 390.2,303.4 390.2,327.3 378.2,333.3 378.2,309.4 366.3,315.4 			" />
                <polygon class="oust10" points="354.3,331.7 354.3,333.3 390.2,351.3 402.2,345.3 378.2,333.3 365.2,326.9 			" />
                <polygon class="oust11" points="354.3,318.3 363.2,322.8 363.2,336.2 354.3,331.7 			" />
                <polygon class="oust12" points="372.1,318.3 363.2,322.8 363.2,336.2 372.1,331.7 			" />
                <polygon class="oust13" points="363.2,313.8 354.3,318.3 363.2,322.8 372.1,318.3 			" />
                <polygon class="oust11" points="367.8,325 376.7,329.5 376.7,342.9 367.8,338.4 			" />
                <polygon class="oust12" points="385.6,325 376.7,329.5 376.7,342.9 385.6,338.4 			" />
                <polygon class="oust13" points="376.7,320.6 367.8,325 376.7,329.5 385.6,325 			" />
                <polygon class="oust11" points="381.3,331.8 390.3,336.3 390.3,349.7 381.3,345.2 			" />
                <polygon class="oust12" points="399.2,331.8 390.3,336.3 390.3,349.7 399.2,345.2 			" />
                <polygon class="oust13" points="390.3,327.3 381.3,331.8 390.3,336.3 399.2,331.8 			" />
                <polygon class="oust11" points="342.3,351.3 294.4,327.3 294.4,351.3 342.3,375.2 			" />
                <polygon class="oust12" points="366.2,363.3 342.3,351.3 342.3,375.2 			" />
                <polygon class="oust14" points="342.3,327.3 342.3,351.3 294.4,327.3 294.4,303.4 			" />
                <polygon class="oust11" points="342.3,303.4 342.3,327.3 294.4,303.4 294.4,279.5 			" />
                <polygon class="oust12" points="342.3,303.4 366.3,315.4 342.3,327.3 			" />
                <polygon class="oust12" points="354.3,333.3 354.3,321.3 342.3,327.3 			" />
                <polygon class="oust9" points="342.3,327.3 342.3,351.3 366.2,363.3 390.2,351.3 			" />
                <polygon class="oust13" points="318.3,291.4 342.3,279.5 366.2,291.4 390.2,279.5 342.3,255.5 294.4,279.5 			" />
                <polygon class="oust10" points="342.3,279.5 318.3,291.4 342.3,303.4 366.2,291.4 			" />
                <polygon class="oust12" points="390.2,279.5 390.2,303.4 366.2,291.4 			" />
                <polygon class="oust14" points="378.2,309.4 366.3,315.4 372.1,318.3 372.1,318.3 372.1,322.9 376.7,320.6 376.7,320.6 
				378.2,321.4 			" />
            </g>
            <linearGradient id="SVGID_25_ou" gradientUnits="userSpaceOnUse" x1="55.7166" y1="228.1127" x2="152.1382" y2="228.1127">
                <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0" />
                <stop offset="0.9364" style="stop-color:#FFFFFF;stop-opacity:0.9364" />
                <stop offset="1" style="stop-color:#FFFFFF" />
            </linearGradient>
            <path class="oust15 outline" d="M103.9,283.8l-48.2-27.8v-55.7l0.2-0.1l48-27.7l48.2,27.8v55.7l-0.2,0.1L103.9,283.8z M56.6,255.4l47.3,27.3
			l47.3-27.3v-54.7l-47.3-27.3l-47.3,27.3V255.4z" />
            <linearGradient id="SVGID_26_ou" gradientUnits="userSpaceOnUse" x1="103.4926" y1="145.373" x2="199.9142" y2="145.373">
                <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0" />
                <stop offset="0.9364" style="stop-color:#FFFFFF;stop-opacity:0.9364" />
                <stop offset="1" style="stop-color:#FFFFFF" />
            </linearGradient>
            <path class="oust16 outline" d="M151.7,201l-48.2-27.8v-55.7l0.2-0.1l48-27.7l48.2,27.8v55.7l-0.2,0.1L151.7,201z M104.4,172.7l47.3,27.3
			l47.3-27.3V118l-47.3-27.3L104.4,118V172.7z" />
            <linearGradient id="SVGID_27_ou" gradientUnits="userSpaceOnUse" x1="7.5058" y1="145.3731" x2="103.9274" y2="145.3731">
                <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0" />
                <stop offset="0.9364" style="stop-color:#FFFFFF;stop-opacity:0.9364" />
                <stop offset="1" style="stop-color:#FFFFFF" />
            </linearGradient>
            <path class="oust17 outline" d="M55.7,201L7.5,173.2v-55.7l0.2-0.1l48-27.7l48.2,27.8v55.7l-0.2,0.1L55.7,201z M8.4,172.7L55.7,200
			l47.3-27.3V118L55.7,90.7L8.4,118V172.7z" />
            <linearGradient id="SVGID_28_ou" gradientUnits="userSpaceOnUse" x1="247.0372" y1="62.7238" x2="343.4589" y2="62.7238">
                <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0" />
                <stop offset="0.9364" style="stop-color:#FFFFFF;stop-opacity:0.9364" />
                <stop offset="1" style="stop-color:#FFFFFF" />
            </linearGradient>
            <path class="oust18 outline" d="M295.2,118.4L247,90.6V34.9l0.2-0.1l48-27.7l48.2,27.8v55.7l-0.2,0.1L295.2,118.4z M247.9,90.1l47.3,27.3
			l47.3-27.3V35.4L295.2,8.1l-47.3,27.3V90.1z" />

            <linearGradient id="SVGID_29_ou" gradientUnits="userSpaceOnUse" x1="-2659.9058" y1="2510.7253" x2="-2563.4841"
                y2="2510.7253" gradientTransform="matrix(-1 0 0 -1 -2221.1116 2573.4492)">
                <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0" />
                <stop offset="0.9364" style="stop-color:#FFFFFF;stop-opacity:0.9364" />
                <stop offset="1" style="stop-color:#FFFFFF" />
            </linearGradient>
            <path class="oust19 outline" d="M390.6,7.1l48.2,27.8v55.7l-0.2,0.1l-48,27.7l-48.2-27.8V34.9l0.2-0.1L390.6,7.1z M437.9,35.4L390.6,8.1
			l-47.3,27.3v54.7l47.3,27.3l47.3-27.3V35.4z" />

            <linearGradient id="SVGID_33_ou" gradientUnits="userSpaceOnUse" x1="-2755.5352" y1="2510.7253" x2="-2659.1135"
                y2="2510.7253" gradientTransform="matrix(-1 0 0 -1 -2221.1116 2573.4492)">
                <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0" />
                <stop offset="0.9364" style="stop-color:#FFFFFF;stop-opacity:0.9364" />
                <stop offset="1" style="stop-color:#FFFFFF" />
            </linearGradient>
            <path class="oust20 outline" d="M486.2,7.1l48.2,27.8v55.7l-0.2,0.1l-48,27.7L438,90.6V34.9l0.2-0.1L486.2,7.1z M533.6,35.4L486.2,8.1
			l-47.3,27.3v54.7l47.3,27.3l47.3-27.3V35.4z" />

            <linearGradient id="SVGID_31_ou" gradientUnits="userSpaceOnUse" x1="-2851.0872" y1="2345.3364" x2="-2754.6655"
                y2="2345.3364" gradientTransform="matrix(-1 0 0 -1 -2221.1116 2573.4492)">
                <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0" />
                <stop offset="0.9364" style="stop-color:#FFFFFF;stop-opacity:0.9364" />
                <stop offset="1" style="stop-color:#FFFFFF" />
            </linearGradient>
            <path class="oust21 outline" d="M581.8,172.4l48.2,27.8v55.7l-0.2,0.1l-48,27.7l-48.2-27.8v-55.7l0.2-0.1L581.8,172.4z M629.1,200.8
			l-47.3-27.3l-47.3,27.3v54.7l47.3,27.3l47.3-27.3V200.8z" />

            <linearGradient id="SVGID_32_ou" gradientUnits="userSpaceOnUse" x1="-2898.9131" y1="2262.5059" x2="-2802.4915"
                y2="2262.5059" gradientTransform="matrix(-1 0 0 -1 -2221.1116 2573.4492)">
                <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0" />
                <stop offset="0.9364" style="stop-color:#FFFFFF;stop-opacity:0.9364" />
                <stop offset="1" style="stop-color:#FFFFFF" />
            </linearGradient>
            <path class="oust22 outline" d="M629.6,255.3l48.2,27.8v55.7l-0.2,0.1l-48,27.7l-48.2-27.8v-55.7l0.2-0.1L629.6,255.3z M676.9,283.6
			l-47.3-27.3l-47.3,27.3v54.7l47.3,27.3l47.3-27.3V283.6z" />

            <linearGradient id="SVGID_33_ou" gradientUnits="userSpaceOnUse" x1="-2851.0874" y1="2179.6067" x2="-2754.6658"
                y2="2179.6067" gradientTransform="matrix(-1 0 0 -1 -2221.1116 2573.4492)">
                <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0" />
                <stop offset="0.9364" style="stop-color:#FFFFFF;stop-opacity:0.9364" />
                <stop offset="1" style="stop-color:#FFFFFF" />
            </linearGradient>
            <path class="oust23 outline" d="M581.8,338.2L630,366v55.7l-0.2,0.1l-48,27.7l-48.2-27.8V366l0.2-0.1L581.8,338.2z M629.1,366.5l-47.3-27.3
			l-47.3,27.3v54.7l47.3,27.3l47.3-27.3V366.5z" />

            <linearGradient id="SVGID_34_ou" gradientUnits="userSpaceOnUse" x1="-2803.3113" y1="2096.8208" x2="-2706.8896"
                y2="2096.8208" gradientTransform="matrix(-1 0 0 -1 -2221.1116 2573.4492)">
                <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0" />
                <stop offset="0.9364" style="stop-color:#FFFFFF;stop-opacity:0.9364" />
                <stop offset="1" style="stop-color:#FFFFFF" />
            </linearGradient>
            <path class="oust24 outline" d="M534,421l48.2,27.8v55.7l-0.2,0.1l-48,27.7l-48.2-27.8v-55.7l0.2-0.1L534,421z M581.3,449.3L534,422
			l-47.3,27.3V504l47.3,27.3l47.3-27.3V449.3z" />

            <linearGradient id="SVGID_35_ou" gradientUnits="userSpaceOnUse" x1="-2755.5354" y1="2014.006" x2="-2659.1138"
                y2="2014.006" gradientTransform="matrix(-1 0 0 -1 -2221.1116 2573.4492)">
                <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0" />
                <stop offset="0.9364" style="stop-color:#FFFFFF;stop-opacity:0.9364" />
                <stop offset="1" style="stop-color:#FFFFFF" />
            </linearGradient>
            <path class="oust25 outline" d="M486.2,503.8l48.2,27.8v55.7l-0.2,0.1l-48,27.7L438,587.3v-55.7l0.2-0.1L486.2,503.8z M533.6,532.1
			l-47.3-27.3l-47.3,27.3v54.7l47.3,27.3l47.3-27.3V532.1z" />

            <linearGradient id="SVGID_36_ou" gradientUnits="userSpaceOnUse" x1="-2851.5222" y1="2014.006" x2="-2755.1006"
                y2="2014.006" gradientTransform="matrix(-1 0 0 -1 -2221.1116 2573.4492)">
                <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0" />
                <stop offset="0.9364" style="stop-color:#FFFFFF;stop-opacity:0.9364" />
                <stop offset="1" style="stop-color:#FFFFFF" />
            </linearGradient>
            <path class="oust26 outline" d="M582.2,503.8l48.2,27.8v55.7l-0.2,0.1l-48,27.7L534,587.3v-55.7l0.2-0.1L582.2,503.8z M629.5,532.1
			l-47.3-27.3l-47.3,27.3v54.7l47.3,27.3l47.3-27.3V532.1z" />

            <linearGradient id="SVGID_37_ou" gradientUnits="userSpaceOnUse" x1="351.7162" y1="-610.4768" x2="448.1378"
                y2="-610.4768" gradientTransform="matrix(1 0 0 1 -9.5222 1169.92)">
                <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0" />
                <stop offset="0.9364" style="stop-color:#FFFFFF;stop-opacity:0.9364" />
                <stop offset="1" style="stop-color:#FFFFFF" />
            </linearGradient>
            <path class="oust27 outline" d="M390.4,615.1l-48.2-27.8v-55.7l0.2-0.1l48-27.7l48.2,27.8v55.7l-0.2,0.1L390.4,615.1z M343.1,586.8
			l47.3,27.3l47.3-27.3v-54.7l-47.3-27.3l-47.3,27.3V586.8z" />

            <linearGradient id="SVGID_38_ou" gradientUnits="userSpaceOnUse" x1="160.7909" y1="-610.4768" x2="257.2125"
                y2="-610.4768" gradientTransform="matrix(1 0 0 1 -9.5222 1169.92)">
                <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0" />
                <stop offset="0.9364" style="stop-color:#FFFFFF;stop-opacity:0.9364" />
                <stop offset="1" style="stop-color:#FFFFFF" />
            </linearGradient>
            <path class="oust28 outline" d="M199.5,615.1l-48.2-27.8v-55.7l0.2-0.1l48-27.7l48.2,27.8v55.7l-0.2,0.1L199.5,615.1z M152.1,586.8
			l47.3,27.3l47.3-27.3v-54.7l-47.3-27.3l-47.3,27.3V586.8z" />

            <linearGradient id="SVGID_39_ou" gradientUnits="userSpaceOnUse" x1="65.7387" y1="-610.4768" x2="162.1604"
                y2="-610.4768" gradientTransform="matrix(1 0 0 1 -9.5222 1169.92)">
                <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0" />
                <stop offset="0.9364" style="stop-color:#FFFFFF;stop-opacity:0.9364" />
                <stop offset="1" style="stop-color:#FFFFFF" />
            </linearGradient>
            <path class="oust29 outline" d="M104.4,615.1l-48.2-27.8v-55.7l0.2-0.1l48-27.7l48.2,27.8v55.7l-0.2,0.1L104.4,615.1z M57.1,586.8l47.3,27.3
			l47.3-27.3v-54.7l-47.3-27.3l-47.3,27.3V586.8z" />

            <linearGradient id="SVGID_40_ou" gradientUnits="userSpaceOnUse" x1="17.5279" y1="-693.2917" x2="113.9495"
                y2="-693.2917" gradientTransform="matrix(1 0 0 1 -9.5222 1169.92)">
                <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0" />
                <stop offset="0.9364" style="stop-color:#FFFFFF;stop-opacity:0.9364" />
                <stop offset="1" style="stop-color:#FFFFFF" />
            </linearGradient>
            <path class="oust30 outline" d="M56.2,532.3L8,504.5v-55.7l0.2-0.1l48-27.7l48.2,27.8v55.7l-0.2,0.1L56.2,532.3z M8.9,504l47.3,27.3
			l47.3-27.3v-54.7L56.2,422L8.9,449.3V504z" />

            <linearGradient id="SVGID_41_ou" gradientUnits="userSpaceOnUse" x1="-77.8924" y1="-693.2917" x2="18.5292"
                y2="-693.2917" gradientTransform="matrix(1 0 0 1 -9.5222 1169.92)">
                <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0" />
                <stop offset="0.9364" style="stop-color:#FFFFFF;stop-opacity:0.9364" />
                <stop offset="1" style="stop-color:#FFFFFF" />
            </linearGradient>
            <path class="oust31 outline" d="M-39.2,532.3l-48.2-27.8v-55.7l0.2-0.1l48-27.7L9,448.8v55.7l-0.2,0.1L-39.2,532.3z M-86.5,504l47.3,27.3
			L8.1,504v-54.7L-39.2,422l-47.3,27.3V504z" />

            <linearGradient id="SVGID_42_ou" gradientUnits="userSpaceOnUse" x1="-29.6816" y1="-610.4768" x2="66.7401"
                y2="-610.4768" gradientTransform="matrix(1 0 0 1 -9.5222 1169.92)">
                <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0" />
                <stop offset="0.9364" style="stop-color:#FFFFFF;stop-opacity:0.9364" />
                <stop offset="1" style="stop-color:#FFFFFF" />
            </linearGradient>
            <path class="oust32 outline" d="M9,615.1l-48.2-27.8v-55.7l0.2-0.1l48-27.7l48.2,27.8v55.7l-0.2,0.1L9,615.1z M-38.3,586.8L9,614.1
			l47.3-27.3v-54.7L9,504.8l-47.3,27.3V586.8z" />

            <linearGradient id="SVGID_43_ou" gradientUnits="userSpaceOnUse" x1="113.0149" y1="-693.2917" x2="209.4365"
                y2="-693.2917" gradientTransform="matrix(1 0 0 1 -9.5222 1169.92)">
                <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0" />
                <stop offset="0.9364" style="stop-color:#FFFFFF;stop-opacity:0.9364" />
                <stop offset="1" style="stop-color:#FFFFFF" />
            </linearGradient>
            <path class="oust33 outline" d="M151.7,532.3l-48.2-27.8v-55.7l0.2-0.1l48-27.7l48.2,27.8v55.7l-0.2,0.1L151.7,532.3z M104.4,504l47.3,27.3
			L199,504v-54.7L151.7,422l-47.3,27.3V504z" />

            <linearGradient id="SVGID_44_ou" gradientUnits="userSpaceOnUse" x1="65.2388" y1="-776.0776" x2="161.6605"
                y2="-776.0776" gradientTransform="matrix(1 0 0 1 -9.5222 1169.92)">
                <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0" />
                <stop offset="0.9364" style="stop-color:#FFFFFF;stop-opacity:0.9364" />
                <stop offset="1" style="stop-color:#FFFFFF" />
            </linearGradient>
            <path class="oust34 outline" d="M103.9,449.5l-48.2-27.8V366l0.2-0.1l48-27.7l48.2,27.8v55.7l-0.2,0.1L103.9,449.5z M56.6,421.2l47.3,27.3
			l47.3-27.3v-54.7l-47.3-27.3l-47.3,27.3V421.2z" />

            <linearGradient id="SVGID_45_ou" gradientUnits="userSpaceOnUse" x1="17.5279" y1="-858.9767" x2="113.9495"
                y2="-858.9767" gradientTransform="matrix(1 0 0 1 -9.5222 1169.92)">
                <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0" />
                <stop offset="0.9364" style="stop-color:#FFFFFF;stop-opacity:0.9364" />
                <stop offset="1" style="stop-color:#FFFFFF" />
            </linearGradient>
            <path class="oust35 outline" d="M56.2,366.6L8,338.8v-55.7l0.2-0.1l48-27.7l48.2,27.8v55.7l-0.2,0.1L56.2,366.6z M8.9,338.3l47.3,27.3
			l47.3-27.3v-54.7l-47.3-27.3L8.9,283.6V338.3z" />
        </g>
    </g>
</svg>
