description = "Production-Products"

[viewBag]
==
{% put styles %}
    <link href="{{ 'assets/css/production-products.css'|theme }}" rel="stylesheet">
{% endput %}
<section id="products">
    <div class="products">
        <div class="container-fluid">
            <div class="row">
                <!-- Hex Grid-->
                <div class="col-xl-9 hex-grid"></div>
                <div class="col-xl-3 product-content-container">
                    <div class="products-content">
                        <div class="title font-homenaje text-uppercase">
                            <p>"Your" products</p>
                        </div>
                        <div class="content font-lato">
                            <p>Our trendwatchers, creatives and designers globally work closely together with our engineers, factories and sourcing team in Asia. This to create and manufacture products that live up to your requirements and quality standards. Whether you need a bespoke or an existing product you can count on us for an efficient, cost-conscious and partner-focused collaboration.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>