description = "Production-QualityAndSafety"

[viewBag]
==
{% put styles %}
    <link href="{{ 'assets/css/production-quality-and-safety.css'|theme }}" rel="stylesheet">
{% endput %}
<section id="quality-content">
    <div class="quality-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 offset-md-1 left-content">
                    <div class="title font-homenaje">
                        <p>Quality And Safety</p>
                    </div>
                    <div class="content font-homenaje">
                        <p>Our factories strive to achievee 100% consistent quailty through an intricate network of quality control and assurance procedures.</p>
                    </div>
                </div>
                <div class="col-md-3 offset-md-3 right-content">
                    <div class="content font-homenaje">
                        <p>We have a manager onsite at our factories and productions units whose responsibilities include ensuring Quaility & Safety. All our facetories and production units have accredited..........</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-block-container">
            <div class="hexagon" id="hex-1"></div>
            <div class="hexagon" id="hex-2"></div>
            <div class="hexagon" id="hex-3"></div>
        </div>
    </div>
</section>