description = "Production-QualityAndSafety"

[viewBag]
==
{% put styles %}
    <link href="{{ 'assets/css/production-quality-and-safety.css'|theme }}" rel="stylesheet">
{% endput %}
<section id="quality-content">
    <div class="quality-content">
        <div class="container-fluid quality-content-main">
            <div class="row">
                <div class="col-md-4 offset-md-1 left-content">
                    <div class="title font-homenaje">
                        <p>Quality And Safety</p>
                    </div>
                    <div class="content font-homenaje">
                        <p>Our factories strive to achievee 100% consistent quailty through an intricate network of quality control and assurance procedures.</p>
                    </div>
                </div>
                <div class="col-md-3 offset-md-3 right-content">
                    <div class="content font-homenaje">
                        <p>We have a manager onsite at our factories and productions units whose responsibilities include ensuring Quaility & Safety. All our facetories and production units have accredited..........</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hexagon item -->
        <div class="button-block-container">
            <!-- <svg width="100%" height="100%" viewBox="0 0 1608.57 924.73" style="position: absolute">
                <circle id="circle" cx="0" cy="50" r="15" fill="blue" stroke="black" stroke-width="1">
                <animateMotion
               xlink:href="#circle"
               dur="10s"
               begin="1s"
               fill="freeze"
               path="M37.21,919.73,134,752.14a15,15,0,0,1,13-7.5H289.12a15,15,0,0,0,13-7.5l74.41-128.89a15,15,0,0,1,13-7.5H574.37a15,15,0,0,1,13,7.5l74.4,128.86a15,15,0,0,0,13,7.5l131.46-.38A15,15,0,0,0,819.06,737L922.34,565.29A15,15,0,0,1,935.19,558h230.33a15,15,0,0,1,13,7.5l74.41,128.89a15,15,0,0,0,13,7.5h99.51a15,15,0,0,0,13-7.5l74.41-128.89a15,15,0,0,1,13-7.5h26.33a15,15,0,0,0,11.28-5.11l23.78-27.14a15,15,0,0,1,19.13-2.9l53.47,32.79a2.48,2.48,0,0,0,3.77-2.15l-3.31-182.93a14.94,14.94,0,0,0-2-7.23l-94.83-164.24a15,15,0,0,0-13-7.5h-142.2a15,15,0,0,1-13-7.5L1260.84,55.23a15,15,0,0,0-13-7.5H1063a15,15,0,0,0-13,7.5L975.59,184.11a15,15,0,0,1-13,7.5H820.27a15,15,0,0,1-12.87-7.28l-103.19-172A15,15,0,0,0,691.34,5H472.83a15,15,0,0,0-13,7.5L385.43,141.39a15,15,0,0,1-13,7.5H272.93a15,15,0,0,1-13-7.5L185.53,12.5a15,15,0,0,0-13-7.5H5"
               />
           </svg> -->
            <div class="container-fluid hex-container" id="hex-container-1">
                <div class="row">
                    <div class="hex-row col-xl-5 col-md-12" id="hex-row-1">
                        <div class="heax-item">
                            <div class="hexagon-btn hexagon2" id="hexagon-btn-item-1">
                                <div class="hexagon-in1">
                                    <div class="hexagon-in2" style="background-image: url({{'productions/hex_raw_materials.png'|media}});">
                                    </div>
                                 </div>
                             </div>
                         </div>
                         <div class="heax-item">
                             <div class="hexagon-btn hexagon2 even-down" id="hexagon-btn-item-2">
                                <div class="hexagon-in1">
                                    <div class="hexagon-in2" style="background-image: url({{'productions/hex_quality_control.png'|media}});">
                                    </div>
                                 </div>
                             </div>
                         </div>
                         <div class="heax-item">
                             <div class="hexagon-btn hexagon2" id="hexagon-btn-item-2">
                                <div class="hexagon-in1">
                                    <div class="hexagon-in2" style="background-image: url({{'productions/hex_labeling.png'|media}});">
                                    </div>
                                 </div>
                             </div>
                         </div>
                    </div>
                    <div class="hex-row col-xl-7 col-md-12" id="hex-row-2">
                        <div class="heax-item">
                            <div class="hexagon-btn hexagon2" id="hexagon-btn-item-1">
                                <div class="hexagon-in1">
                                    <div class="hexagon-in2" style="background-image: url({{'productions/hex_quality_assurance.png'|media}});">
                                    </div>
                                 </div>
                             </div>
                         </div>
                         <div class="heax-item">
                             <div class="hexagon-btn hexagon2 even-up" id="hexagon-btn-item-2">
                                <div class="hexagon-in1">
                                    <div class="hexagon-in2" style="background-image: url({{'productions/hex_trial_production_run.png'|media}});">
                                    </div>
                                 </div>
                             </div>
                         </div>
                         <div class="heax-item">
                             <div class="hexagon-btn hexagon2" id="hexagon-btn-item-2">
                                <div class="hexagon-in1">
                                    <div class="hexagon-in2" style="background-image: url({{'productions/hex_quality_inspection.png'|media}});">
                                    </div>
                                 </div>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid hex-container" id="hex-container-2">
                <div class="row">
                    <div class="hex-row col-xl-6 col-md-12" id="hex-row-3">
                        <div class="heax-item">
                            <div class="hexagon-btn hexagon2" id="hexagon-btn-item-1">
                                <div class="hexagon-in1">
                                    <div class="hexagon-in2" style="background-image: url({{'productions/hex_warehouse_shipping.png'|media}});">
                                    </div>
                                 </div>
                             </div>
                         </div>
                         <div class="heax-item">
                             <div class="hexagon-btn hexagon2 even-up" id="hexagon-btn-item-2">
                                <div class="hexagon-in1">
                                    <div class="hexagon-in2" style="background-image: url({{'productions/hex_finished_product_inspection.png'|media}});">
                                    </div>
                                 </div>
                             </div>
                         </div>
                         <div class="heax-item">
                             <div class="hexagon-btn hexagon2" id="hexagon-btn-item-2">
                                <div class="hexagon-in1">
                                    <div class="hexagon-in2" style="background-image: url({{'productions/hex_finished_prod_packing.png'|media}});">
                                    </div>
                                 </div>
                             </div>
                         </div>
                    </div>
                    <div class="hex-row col-xl-6 col-md-12" id="hex-row-4">
                        <div class="heax-item">
                            <div class="hexagon-btn hexagon2" id="hexagon-btn-item-1">
                                <div class="hexagon-in1">
                                    <div class="hexagon-in2" style="background-image: url({{'productions/hex_third_pard_inspections.png'|media}});">
                                    </div>
                                 </div>
                             </div>
                         </div>
                         <div class="heax-item">
                             <div class="hexagon-btn hexagon2 even-down" id="hexagon-btn-item-2">
                                <div class="hexagon-in1">
                                    <div class="hexagon-in2" style="background-image: url({{'productions/hex_trial_production_run.png'|media}});">
                                    </div>
                                 </div>
                             </div>
                         </div>
                         <div class="heax-item">
                             <div class="hexagon-btn hexagon2" id="hexagon-btn-item-2">
                                <div class="hexagon-in1">
                                    <div class="hexagon-in2" style="background-image: url({{'productions/hex_mass_production.png'|media}});">
                                    </div>
                                 </div>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
            <!-- Hexagon background -->
            <div class="hexagon" id="hex-1"></div>
            <div class="hexagon" id="hex-2"></div>
            <div class="hexagon" id="hex-3"></div>
            <div class="hexagon" id="hex-4"></div>
            <div class="hexagon" id="hex-5"></div>
            <div class="hexagon" id="hex-6"></div>
        </div>
    </div>
</section>
