description = "Production-QualityAndSafety"

[viewBag]
==
{% put styles %}
    <link href="{{ 'assets/css/production-quality-and-safety.css'|theme }}" rel="stylesheet">
{% endput %}
<section id="quality-content">
    <div class="quality-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 offset-md-1 left-content">
                    <div class="title font-homenaje">
                        <p>Quality And Safety</p>
                    </div>
                    <div class="content font-homenaje">
                        <p>Our factories strive to achievee 100% consistent quailty through an intricate network of quality control and assurance procedures.</p>
                    </div>
                </div>
                <div class="col-md-3 offset-md-3 right-content">
                    <div class="content font-homenaje">
                        <p>We have a manager onsite at our factories and productions units whose responsibilities include ensuring Quaility & Safety. All our facetories and production units have accredited..........</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hexagon item --> 
        <div class="button-block-container">
            <div class="hex-row" id="hex-row-1">
                <div class="heax-item">
                    <div class="hexagon-btn hexagon2" id="hexagon-btn-item-1">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2" style="background-image: url({{'productions/hex_raw_materials.png'|media}});">                
                            </div>
                         </div>
                     </div>
                 </div>
                 <div class="heax-item">
                     <div class="hexagon-btn hexagon2 even-down" id="hexagon-btn-item-2">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2" style="background-image: url({{'productions/hex_quality_control.png'|media}});">                
                            </div>
                         </div>
                     </div>
                 </div>
                 <div class="heax-item">
                     <div class="hexagon-btn hexagon2" id="hexagon-btn-item-2">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2" style="background-image: url({{'productions/hex_labeling.png'|media}});">                
                            </div>
                         </div>
                     </div>
                 </div>
            </div>
        <div class="hex-row" id="hex-row-2">
                <div class="heax-item">
                    <div class="hexagon-btn hexagon2" id="hexagon-btn-item-1">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2" style="background-image: url({{'productions/hex_quality_assurance.png'|media}});">                
                            </div>
                         </div>
                     </div>
                 </div>
                 <div class="heax-item">
                     <div class="hexagon-btn hexagon2 even-up" id="hexagon-btn-item-2">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2" style="background-image: url({{'productions/hex_trial_production_run.png'|media}});">                
                            </div>
                         </div>
                     </div>
                 </div>
                 <div class="heax-item">
                     <div class="hexagon-btn hexagon2" id="hexagon-btn-item-2">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2" style="background-image: url({{'productions/hex_quality_inspection.png'|media}});">                
                            </div>
                         </div>
                     </div>
                 </div>
            </div>
        <div class="hex-row" id="hex-row-3">
                <div class="heax-item">
                    <div class="hexagon-btn hexagon2" id="hexagon-btn-item-1">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2" style="background-image: url({{'productions/hex_warehouse_shipping.png'|media}});">                
                            </div>
                         </div>
                     </div>
                 </div>
                 <div class="heax-item">
                     <div class="hexagon-btn hexagon2 even-up" id="hexagon-btn-item-2">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2" style="background-image: url({{'productions/hex_finished_prod_inspection.png'|media}});">                
                            </div>
                         </div>
                     </div>
                 </div>
                 <div class="heax-item">
                     <div class="hexagon-btn hexagon2" id="hexagon-btn-item-2">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2" style="background-image: url({{'productions/hex_finished_prod_packing.png'|media}});">                
                            </div>
                         </div>
                     </div>
                 </div>
            </div>            
            <!-- Hexagon background -->
            <div class="hexagon" id="hex-1"></div>
            <div class="hexagon" id="hex-2"></div>
            <div class="hexagon" id="hex-3"></div>
            <div class="hexagon" id="hex-4"></div>
            <div class="hexagon" id="hex-5"></div>
            <div class="hexagon" id="hex-6"></div>
        </div>
    </div>
</section>