description = "Production-Sustainability"

[viewBag]
==

{% put styles %}
    <link href="{{ 'assets/css/production-sustainability.css'|theme }}" rel="stylesheet">
{% endput %}
{% put scripts %}
    <script src="{{ 'assets/javascript/sustainability.js'|theme }}"></script>
{% endput %}
<section id="sustainability">
    <div class="sustainability">
        <!-- <div class="sustainability-part-bg"><img src="{{ 'productions/sustainability_part.png'|media }}"></div> -->
        <div class="container sustainability-content">
            <div class="row">
                <div class="col-xl-6 sustainability-content-container">
                    <div class="title font-homenaje text-uppercase" data-aos="fade-down">
                        <p>Sustainability and Social Responsibilities</p>
                    </div>
                    <div class="sustainability-text-content font-lato" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
                        <p>We recognize that the way in which we operate has an impact on the environment and are committed to integrating sustainability best practices into our decision-making and business activities worldwide. We invest in new production techniques and materials to offer clients a better sustainable alternative to what is currently available in the marketplace. Our strategy is comprised of the following 3 pillars.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container sustainability-flip-object">
            <div class="row sustainability-flip-content">
                <div class="col-xl-12 object-container" id="object-container">
                    <i class="control disable fa fa-angle-left fa-3x" id="left" to=""></i>
                    <i class="control fa fa-angle-right fa-3x" id="right" to="25"></i>
                    <div class="animate-area"></div>
                </div>
            </div>
        </div>
    </div>
</section>
