description = "Production-Sustainability"

[viewBag]
==

{% put styles %}
    <link href="{{ 'assets/css/production-sustainability.css'|theme }}" rel="stylesheet">
{% endput %}
{% put scripts %}
    <script src="{{ 'assets/javascript/sustainability.js'|theme }}"></script>
{% endput %}
<style>

</style>
<section id="sustainability">
    <div class="sustainability">
        <div class="container-fluid sustainability-content">
            <div class="row">
                <div class="col-lg-5 sustainability-content-container">
                    <div class="main-content">
                        <div class="title font-homenaje text-uppercase" data-aos="fade-down">
                            <p>Sustainability and Social Responsibilities</p>
                        </div>
                        <div class="sustainability-text-content font-lato" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
                            <p>We recognize that the way in which we operate has an impact on the environment and are committed to integrating sustainability best practice into our decision-making and business activities worldwide. We invest in new production technics and materials to offer clients a better sustainable alternative to what is currently available in the marketplace. </p>
                            <p>Our strategy is comprised of the following 3 pillars. </p>
                            <p><b>More information and documentations available upon request.</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 sustainability-flip-object">
                    <div class="sustainability-flip-content">
                        <div class="object-container" id="object-container">
                            <i class="control fa fa-angle-left fa-3x" id="left" to="71"></i>
                            <i class="control fa fa-angle-right fa-3x" id="right" to="31"></i>
                            <div class="animate-area"></div>
                        </div>
                    </div>
                    <div class="row sustainability-flip-images">
                        <div class="col-xl-12 sustain-slick">
                            <div class="sustain-slick-img"><img src="{{ 'productions/sustain_1.jpg'|media }}" alt=""></div>
                            <div class="sustain-slick-img"><img src="{{ 'productions/sustain_2.jpg'|media }}" alt=""></div>
                            <div class="sustain-slick-img"><img src="{{ 'productions/sustain_3.jpg'|media }}" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="container sustainability-flip-object">
            <div class="row sustainability-flip-content">
                <div class="col-xl-12 object-container" id="object-container">
                    <i class="control fa fa-angle-left fa-3x" id="left" to="71"></i>
                    <i class="control fa fa-angle-right fa-3x" id="right" to="31"></i>
                    <div class="animate-area"></div>
                </div>
            </div>
            <div class="row sustainability-flip-images">
                <div class="col-xl-12 sustain-slick">
                    <div class="sustain-slick-img"><img src="{{ 'productions/sustain_1.jpg'|media }}" alt=""></div>
                    <div class="sustain-slick-img"><img src="{{ 'productions/sustain_2.jpg'|media }}" alt=""></div>
                    <div class="sustain-slick-img"><img src="{{ 'productions/sustain_3.jpg'|media }}" alt=""></div>
                </div>
            </div>
        </div> -->
        <div class="sustain-footer">
            <div class="logo-container" id="certifications">
                <div class="header text-uppercase font-homenaje">certifications</div>
                <div class="logo">
                    <ul>
                        <li><img src="{{ 'certification/bsci_v2.png'|media }}" alt=""></li>
                        <li><img src="{{ 'certification/cedex.png'|media }}" alt=""></li>
                    </ul>
                </div>
            </div><div class="logo-container" id="partners">
                <div class="header text-uppercase font-homenaje">Our partners</div>
                <div class="logo">
                    <ul>
                        <li><img src="{{ 'certification/cb_54.png'|media }}" alt=""></li>
                        <li><img src="{{ 'certification/sgs_logo_logotype.png'|media }}" alt=""></li>
                        <li><img src="{{ 'certification/Intertek.png'|media }}" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panda-intro" data-aos="fade-up" data-aos-delay="600">
            <div class="intro-container">
                <div class="intro">
                    <p id="panda-text" data-text="Do you know we invest heavily in biodegradable plastics?"></p>
                </div>
                <img src="{{ 'productions/panda_head.png'|media }}" />
            </div>
        </div>
    </div>
</section>
