description = "Productions-welcome"

[viewBag]
==
<style>
    .productions-welcome, .productions-preload{
        position: fixed;
        top: 0%;
        left: 0%;
        z-index: 10000;
        background-color: #80cfd4;
    }

    .productions-welcome img {
        width: 100vw;
        height: 100vh;
    }

    .productions-preload {
        display: block;
        width: 100%;
        height: 100vh;
        background-color: #fff;
    }

    .productions-preload.hide {
        display: none;
    }

    .productions-preload .preload-content {
        top: 40%;
        position: absolute;
        left: 50%;
    }

    @media screen and (max-width: 768px) {
        .productions-welcome {
            display: none;
        }

        .productions-preload .preload-content {
            top: 40%;
            position: absolute;
            left: 44%;
        }
    }
</style>
<section id="productions-welcome">
    <div class="productions-welcome">
        <img id="welcome-gif" data-src="http://35.190.70.140/productions/production_home_logo.gif" />
    </div>
    <div class="productions-preload">
        <div class="preload-content font-homenaje">
            <img src="{{ 'productions/preloader_1.gif'|media }}" />
            <div style="color: #000;">Loading...</div>
        </div>
    </div>
</section>