description = "Common-scripts"

[viewBag]
==
<script src="{{ 'assets/javascript/jquery-3.3.1.min.js'|theme }}"></script>
<script src="{{ 'assets/javascript/bootstrap.min.js'|theme }}"></script>
<script src="{{ 'assets/javascript/aos.js'|theme }}"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/image-map-resizer/1.0.7/js/imageMapResizer.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{{ 'assets/javascript/jquery.scrollify.js'|theme }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.3/mobile-detect.min.js"></script>
<script src="{{ 'assets/javascript/common.js'|theme }}"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script> -->
{% scripts %}
