description = "Productions"

[builderList newsList]
modelClass = "sg\SplendidGroup\Models\ProductionsNews"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "productions-news"
detailsKeyColumn = "title"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "id"
sortDirection = "desc"
==
<?php
function onStart()
{
    // Get Session 'fromNewsDetail'
    $fromNewsDetail = Session::get('fromNewsDetail');
    // Clear the session 'fromNewsDetail'
    Session::forget('fromNewsDetail');

    $this['fromNewsDetail'] = $fromNewsDetail;
    $this->addJs('assets/javascript/productions.js');
}
?>
==
{% put layout_content %}
    {% partial 'productions/bubble-menu' %}
    {% partial 'productions/home' coreList=newsList %}
    {% partial 'productions/facilities' %}
    {% partial 'productions/quality-and-safety' %}
    {% partial 'productions/sustainability' %}
    {% partial 'productions/news' coreList=newsList %}
    {% partial 'productions/contact-us' %}
    <script>
        var fromDetails = '{{fromNewsDetail}}';
    </script>
{% endput %}
{% partial 'core' %}
