description = "Productions news detail"

[builderList newsList]
modelClass = "sg\SplendidGroup\Models\ProductionsNews"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderDetails newsDetails]
modelClass = "sg\SplendidGroup\Models\ProductionsNews"
identifierValue = "{{ :newsid }}"
modelKeyColumn = "id"
displayColumn = "title"
notFoundMessage = "Record not found"
==
<?
function onStart()
{
    Session::put('fromNewsDetail', TRUE);
}
?>
==
{% put styles %}
<link href="{{ 'assets/css/productions-theme.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/css/productions-hex.css'|theme }}" rel="stylesheet">
{% endput %}
{% put header_content %}
    {% partial 'productions/header' %}
{% endput %}
{% put layout_content %}
    {% partial 'productions/news-details' newsInfo=newsDetails.record coreList=newsList %}
{% endput %}
{% put scripts %}
    <script src="{{ 'assets/javascript/productions-news.js'|theme }}"></script>
{% endput %}
{% partial 'core' %}
