description = "Productions"
==
<?php
use sg\SplendidGroup\Models\GlobalNews;
function onStart()
{
    $news = GlobalNews::NewsCat('productions')->get();
    $this['news'] = $news;

    // Get Session
    $fromNewsDetail = Session::get('fromNewsDetail');
    $landed = Session::get('landed');

    // Clear the session
    Session::forget('fromNewsDetail');

    // Set variable for view
    $this['fromNewsDetail'] = $fromNewsDetail;

    // Load JS
    $this->addJs('assets/javascript/spriteclip.js');
    $this->addJs('assets/javascript/productions.js');
}
?>
==
{% put styles %}
<link href="{{ 'assets/css/productions-theme.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/css/productions-hex.css'|theme }}" rel="stylesheet">
{% endput %}
{% put header_content %}
    {% partial 'productions/header' %}
{% endput %}
{% put layout_content %}
    {% partial 'productions/menu' %}
    {% partial 'productions/home' %}
    {% partial 'productions/facilities' %}
    {% partial 'productions/quality-and-safety' %}
    {% partial 'productions/sustainability' %}
    {% partial 'productions/news' %}
    {% partial 'productions/contact-us' %}
    <script>
        var fromDetails = '{{fromNewsDetail}}';
    </script>
{% endput %}
{% put scripts %}

{% endput %}
{% partial 'core' %}
