description = "Solutions"

[localePicker]
==
<?php
use sg\SplendidGroup\Models\GlobalNews;
use sg\SplendidGroup\Models\OfficeInfo;
use rainlab\translate\Models\Locale;

function onStart()
{
    // Get Language
    $locale = Locale::listEnabled();
    $localeKey = array_keys($locale);
    $currentUrl = explode('/', $_SERVER['REQUEST_URI']);

    for($i = 0; $i < sizeof($localeKey); $i++)
    {   
        if (in_array($localeKey[$i], $currentUrl)) 
        {
            $this['lan'] = $localeKey[$i];
        }
        else 
        {
            $this['lan'] = 'en';
        }
    }

    // Get news list
    $product_news = GlobalNews::getNewsByType('product', 'solutions')->paginate(6);
    $company_news = GlobalNews::getNewsByType('company', 'solutions')->paginate(3);
    $this['product_news'] = $product_news;
    $this['company_news'] = $company_news;

    // Get Office infomation
    $office_list = OfficeInfo::all();
    $this['office_list'] = $office_list;

    // Load JS
    $this->addJs('assets/javascript/spriteclip.js');
}
?>
==
{% put styles %}
    <link rel="stylesheet" href="{{ 'assets/css/solutions-theme.css'|theme }}">
{% endput %}
{% put scripts %}
    {% if this.environment == 'production' %}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    {% else %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {% endif %}
{% endput %}
{% put header_content %}
    {% partial 'solutions/header' %}
{% endput %}
{% put layout_content %}
    {% partial 'solutions/menu' %}
    {% partial 'solutions/home' %}
    {% partial 'solutions/about' %}
    {% partial 'solutions/how-we-work' %}
    {% partial 'solutions/our-servise' %}
    {% partial 'solutions/quality-and-safety' %}
    {% partial 'solutions/sustainability' %}
    {% partial 'solutions/news' %}
    {% partial 'solutions/contact-us' %}
    {% partial 'common/group-desc' %}
    {% partial 'solutions/footer' %}
{% endput %}
{% put scripts %}
    <!-- <script src="https://unpkg.com/mini-parallax" type="text/javascript"></script> -->
    <script>
        var base_url = "{{url('/')}}";
        var lan = "{{lan}}";
    </script>
    <script src="{{ 'assets/javascript/mini-parallax-iife-min.js'|theme }}" type="text/javascript"></script>
    <script src="{{ 'assets/javascript/solutions.js'|theme }}" type="text/javascript"></script>
{% endput %}
{% partial 'core' %}
