description = "Solutions news detail"

[builderDetails newsDetails]
modelClass = "sg\SplendidGroup\Models\GlobalNews"
identifierValue = "{{ :newsid }}"
modelKeyColumn = "id"
displayColumn = "title"
notFoundMessage = "Record not found"

[localePicker]
==
<?php

use sg\SplendidGroup\Models\GlobalNews;
use rainlab\translate\Models\Locale;

function onStart()
{
    // Get Language
    $locale = Locale::listEnabled();
    $localeKey = array_keys($locale);
    $currentUrl = explode('/', $_SERVER['REQUEST_URI']);

    for($i = 0; $i < sizeof($localeKey); $i++)
    {   
        if (in_array($localeKey[$i], $currentUrl)) 
        {
            $this['lan'] = $localeKey[$i];
        }
        else 
        {
            $this['lan'] = 'en';
        }
    }

    $news = GlobalNews::NewsCat('solutions')->orderBy('id', 'desc')->get();
    $this['news'] = $news;

    Session::put('fromNewsDetail', TRUE);
}
?>
==
{% put styles %}
    <link href="{{ 'assets/css/solutions-theme.css'|theme }}" rel="stylesheet">
{% endput %}
{% put header_content %}
    {% partial 'solutions/header' %}
    {% partial 'solutions/menu' %}
{% endput %}
{% put layout_content %}
    {% partial 'solutions/news-details' newsInfo=newsDetails.record %}
{% endput %}
{% put scripts %}
    <script>
        var base_url = "{{url('/')}}";
        var newsPage = "{{this.page.id}}";
        var newsId = "{{newsDetails.record.id}}";
    </script>
    <script src="{{ 'assets/javascript/solutions-news.js'|theme }}" type="text/javascript"></script>
{% endput %}
{% partial 'core' %}
